This notebook changes the lag of SHI vehicles - pushes it along by 5 years (to take it from 8 to 3)

In [4]:
import pandas as pd

In [6]:
technology = pd.read_excel(f'./TEAM-Kenya_data_out/Technology.xlsx')
technology

,TechID,ModeID,VehTypeID,MassCatID,FuelID,EngineID,TransTypeID,Availability,Final_Year,HybridFlag,spec_energ_consump,spec_energ_electric,noise_class,PurchasePrice,ExpectedLifeFactor,Capacity,AveEconLife,SecondHandImportFlag,note
0,10,1,2,4,1,10,1,1980,2000.0,0,6.571951,NaN,0,5000.0,1,2.0,10,0,NaN
1,20,1,2,4,12,10,1,1995,2010.0,0,9.514442,NaN,2,7000.0,1,2.0,10,0,NaN
2,25,1,2,4,12,11,1,2010,2020.0,0,8.380919,NaN,2,6000.0,1,2.0,10,0,NaN
3,26,1,2,4,12,12,1,2020,NaN,0,7.183646,NaN,2,5500.0,1,2.0,10,0,NaN
4,30,1,2,4,1,11,1,2000,2010.0,0,5.645645,NaN,0,5000.0,1,2.0,10,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2241,14889,1,5,28,13,13,2,2033,2038.0,0,179.199997,1.0,2,14000.0,1,2.5,10,1,NaN
2242,14890,1,5,28,13,13,2,2038,2043.0,0,153.889999,1.0,2,12000.0,1,2.5,10,1,NaN
2243,14891,1,5,28,13,13,2,2043,2048.0,0,132.149994,1.0,2,12000.0,1,2.5,10,1,NaN
2244,14892,1,5,28,13,13,2,2048,2053.0,0,113.480003,1.0,2,12000.0,1,2.5,10,1,NaN
2245,14893,1,5,28,13,13,2,2053,NaN,0,97.449997,1.0,2,12000.0,1,2.5,10,1,NaN

In [9]:
technology.loc[technology[technology.TechID>9000].index.tolist(), 'Availability'] -= 5

In [10]:
technology.loc[technology[technology.TechID>9000].index.tolist(), 'Final_Year'] -= 5

In [11]:
technology.to_csv('./TEAM-Kenya_data_out/technology_max3yearsSHI.csv')