This notebook inputs electricity generation mix data into TEAM

In [16]:
import pandas as pd

In [17]:
# load the correct table
ge = pd.read_excel(f'./../TEAM-Kenya_data_out/GE_UserData.xlsx')
ge

      LCEIParDefinition  ScenarioID CountryAB  Year  PrimID  PrimShare
0              DECC2013           1         A  1990       1   0.049000
1              DECC2013           1         A  1990       2   0.166000
2              DECC2013           1         A  1990       3   0.062035
3              DECC2013           1         A  1990       4   0.032965
4              DECC2013           1         A  1990       5   0.000000
...                 ...         ...       ...   ...     ...        ...
35963           UKERC20           4        SF  2100       4   0.019153
35964           UKERC20           4        SF  2100       5   0.150000
35965           UKERC20           4        SF  2100       6   0.198848
35966           UKERC20           4        SF  2100       7   0.230000
35967           UKERC20           4        SF  2100       8   0.000000

[35968 rows x 6 columns]

In [18]:
# lookup primary energy key --> energy
Prim_lookup = {1: 'OIL',
               2: 'NGAS',
               3: 'COAL',
               4: 'LIG',
               5: 'URAN',
               6: 'HYDRO',
               7: 'WIND',
               8: 'PV',
               9: 'CCS'}

energy_dict = {1: {1990:0.503704,
                   2000:0.503704,
                   2010:0.286704,
                   2020:0.079149,
                   2030:0.05,
                   2040:0.05,
                   2050:0.05,
                   2060:0.05,
                   2070:0.05,
                   2080:0.05,
                   2090:0.05,
                   2100:0.05},
               2: {1990:0,
                   2000:0,
                   2010:0,
                   2020:0,
                   2030:0,
                   2040:0,
                   2050:0,
                   2060:0,
                   2070:0,
                   2080:0,
                   2090:0,
                   2100:0},
               3: {1990:0,
                   2000:0,
                   2010:0,
                   2020:0,
                   2030:0,
                   2040:0,
                   2050:0,
                   2060:0,
                   2070:0,
                   2080:0,
                   2090:0,
                   2100:0},
               4: {1990:0,
                   2000:0,
                   2010:0,
                   2020:0,
                   2030:0,
                   2040:0,
                   2050:0,
                   2060:0,
                   2070:0,
                   2080:0,
                   2090:0,
                   2100:0},
               5: {1990:0,
                   2000:0,
                   2010:0,
                   2020:0,
                   2030:0,
                   2040:0,
                   2050:0,
                   2060:0,
                   2070:0,
                   2080:0,
                   2090:0,
                   2100:0},
               6: {1990:0.496296,
                   2000:0.496296,
                   2010:0.710526,
                   2020:0.8,
                   2030:0.8,
                   2040:0.8,
                   2050:0.8,
                   2060:0.8,
                   2070:0.8,
                   2080:0.8,
                   2090:0.8,
                   2100:0.8},
               7: {1990:0,
                   2000:0,
                   2010:0.00277,
                   2020:0.113191,
                   2030:0.14,
                   2040:0.14,
                   2050:0.14,
                   2060:0.14,
                   2070:0.14,
                   2080:0.14,
                   2090:0.14,
                   2100:0.14},
               8: {1990:0,
                   2000:0,
                   2010:0,
                   2020:0.00766,
                   2030:0.01,
                   2040:0.01,
                   2050:0.01,
                   2060:0.01,
                   2070:0.01,
                   2080:0.01,
                   2090:0.01,
                   2100:0.01},
               9: {1990:0,
                   2000:0,
                   2010:0,
                   2020:0,
                   2030:0,
                   2040:0,
                   2050:0,
                   2060:0,
                   2070:0,
                   2080:0,
                   2090:0,
                   2100:0}}

In [19]:
for energy in energy_dict:
    print(energy)

1
2
3
4
5
6
7
8
9

In [20]:
for energy in energy_dict:

    for year in energy_dict[energy]:
        set_ind = ge[(ge.CountryAB=='KEN') & (ge.Year == year) & (ge.PrimID == energy)].index.tolist()

        ge.loc[set_ind, 'PrimShare'] = energy_dict[energy][year]

ge

      LCEIParDefinition  ScenarioID CountryAB  Year  PrimID  PrimShare
0              DECC2013           1         A  1990       1   0.049000
1              DECC2013           1         A  1990       2   0.166000
2              DECC2013           1         A  1990       3   0.062035
3              DECC2013           1         A  1990       4   0.032965
4              DECC2013           1         A  1990       5   0.000000
...                 ...         ...       ...   ...     ...        ...
35963           UKERC20           4        SF  2100       4   0.019153
35964           UKERC20           4        SF  2100       5   0.150000
35965           UKERC20           4        SF  2100       6   0.198848
35966           UKERC20           4        SF  2100       7   0.230000
35967           UKERC20           4        SF  2100       8   0.000000

[35968 rows x 6 columns]

In [21]:
ge.to_excel(f'./../TEAM-Kenya_data_out/GE_UserData_KEN.xlsx', index=False)