This notebook changes the supply penalties manually in the cost_data.

In [15]:
import pandas as pd

In [16]:
cost_data = pd.read_excel(f'./TEAM-Kenya_data_out/Cost_Data.xlsx')
cost_data

,ScenarioID,CountryID,PolicyID,Year,TechID,TransTypeID,VehTypeID,MassCatID,FuelID,HybridFlag,...,AnnCostsPriv,AnnCostsCompUser,AnnCostsCompFleet,NoChargingAccessPenalty,ChargingTime,SupplyPenalty,Range,TCO,FVDepreciation,FVRunningCost
0,1,9,0,2012,10,1,2,4,1,0,...,0.000000,0.000000,0.000000,0,0.000,0.0,0,0.000000,0.0,0.000000
1,1,9,0,2012,20,1,2,4,12,0,...,0.000000,0.000000,0.000000,0,0.000,0.0,0,0.000000,0.0,0.000000
2,1,9,0,2012,25,1,2,4,12,0,...,0.000000,0.000000,0.000000,0,0.000,0.0,0,0.000000,0.0,0.000000
3,1,9,0,2012,30,1,2,4,1,0,...,0.000000,0.000000,0.000000,0,0.000,0.0,0,0.000000,0.0,0.000000
4,1,9,0,2012,40,1,2,4,1,0,...,0.000000,0.000000,0.000000,0,0.000,0.0,0,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164955,1,9,0,2100,14889,2,5,28,13,0,...,8338.140625,12065.480469,10103.958984,3000,0.167,100000.0,0,55181.656250,9800.0,12702.480469
164956,1,9,0,2100,14890,2,5,28,13,0,...,7160.471191,10361.366211,8676.887695,3000,0.167,100000.0,0,47366.707031,8400.0,10907.366211
164957,1,9,0,2100,14891,2,5,28,13,0,...,6148.913086,8897.618164,7451.105469,3000,0.167,100000.0,0,42258.226562,8400.0,9443.618164
164958,1,9,0,2100,14892,2,5,28,13,0,...,5280.202148,7640.573730,6398.422363,3000,0.167,100000.0,0,37871.140625,8400.0,8186.573730
164959,1,9,0,2100,14893,2,5,28,13,0,...,4534.329102,6561.278320,5494.591309,3000,0.167,100000.0,0,34104.402344,8400.0,7107.278320

In [17]:
technology = pd.read_csv(f'./data/technology.csv')
technology

,TechID,ModeID,VehTypeID,MassCatID,FuelID,EngineID,TransTypeID,Availability,Final_Year,HybridFlag,spec_energ_consump,spec_energ_electric,noise_class,PurchasePrice,ExpectedLifeFactor,Capacity,AveEconLife,SecondHandImportFlag,note
0,10,1,2,4,1,10,1,1980,2000.0,0,6.57,NaN,0,5000.0,1,2.0,10,0,NaN
1,20,1,2,4,12,10,1,1995,2010.0,0,9.51,NaN,2,7000.0,1,2.0,10,0,NaN
2,25,1,2,4,12,11,1,2010,2020.0,0,8.38,NaN,2,6000.0,1,2.0,10,0,NaN
3,26,1,2,4,12,12,1,2020,NaN,0,7.18,NaN,2,5500.0,1,2.0,10,0,NaN
4,30,1,2,4,1,11,1,2000,2010.0,0,5.65,NaN,0,5000.0,1,2.0,10,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2241,14889,1,5,28,13,13,2,2033,2038.0,0,179.20,1.0,2,14000.0,1,2.5,10,1,NaN
2242,14890,1,5,28,13,13,2,2038,2043.0,0,153.89,1.0,2,12000.0,1,2.5,10,1,NaN
2243,14891,1,5,28,13,13,2,2043,2048.0,0,132.15,1.0,2,12000.0,1,2.5,10,1,NaN
2244,14892,1,5,28,13,13,2,2048,2053.0,0,113.48,1.0,2,12000.0,1,2.5,10,1,NaN
2245,14893,1,5,28,13,13,2,2053,NaN,0,97.45,1.0,2,12000.0,1,2.5,10,1,NaN

In [18]:
# return petrol and diesel car technologies and remove the supply penalties after 2035
cost_data.loc[cost_data[(cost_data.TechID.isin(technology[(technology.VehTypeID==3) & (technology.FuelID != 12)].TechID.tolist())) & (cost_data.Year >= 2035)].index.tolist(), 'SupplyPenalty'] = 0

In [19]:
cost_data.to_excel(f'./TEAM-Kenya_data_out/Cost_Data_noSP.xlsx', index=False)

In [20]:
cost_data.loc[cost_data[(cost_data.TechID.isin(technology[(technology.VehTypeID==3) & (technology.FuelID != 12)].TechID.tolist())) & (cost_data.Year >= 2035)].index.tolist(), 'SupplyPenalty']

22819     0.0
22820     0.0
22821     0.0
22822     0.0
22823     0.0
         ...
164223    0.0
164224    0.0
164225    0.0
164226    0.0
164278    0.0
Name: SupplyPenalty, Length: 31998, dtype: float64