This notebook translates data in the format of the scenario workshops (in the format developed by Christian) to the one used in TEAM.

In [20]:
import pandas as pd

In [21]:
# enter scenario name
scenario_names = ['OMOKA', 'ELECTRICDREAMS', 'KUJINAO', 'STREETFIGHTING']

In [22]:
ms = pd.read_excel(f'./../TEAM-Kenya_data_out/Mode_Shift.xlsx')
ms

,Unnamed: 0,ScenarioID,CountryID,PolicyID,Year,triplenID,shiftfromID,shifttoID,ms
0,0,1,9,0,2012,1,1,1,1.0
1,1,1,9,0,2012,1,1,2,0.0
2,2,1,9,0,2012,1,1,3,0.0
3,3,1,9,0,2012,1,1,4,0.0
4,4,1,9,0,2012,1,1,5,0.0
...,...,...,...,...,...,...,...,...,...
102523,102523,1,9,0,2100,8,12,8,0.0
102524,102524,1,9,0,2100,8,12,9,0.0
102525,102525,1,9,0,2100,8,12,10,0.0
102526,102526,1,9,0,2100,8,12,11,0.0
102527,102527,1,9,0,2100,8,12,12,1.0

In [23]:
def df_load(scenario_name):
    df = pd.read_excel(f'mode_shift_setup_Kenya.xlsx', sheet_name=f'KEN_{scenario_name}', skiprows=[0])
    return df

In [24]:
triplengths = range(1, 9)
from_modes = range(1, 13)
to_modes = range(1, 13)
years = range(2012, 2101)

In [25]:
for scenario_name in scenario_names:

    df = df_load(scenario_name)

    for triplength in triplengths:

        for from_mode in from_modes:

            for to_mode in to_modes:

                if f'TripLength{triplength}_FromMode{from_mode}_ToMode{to_mode}' in df.columns.tolist():
                    col_name = f'TripLength{triplength}_FromMode{from_mode}_ToMode{to_mode}'

                    # fill data
                    for year in years:

                        # find the index to fill for this data point in ms
                        set_ind = ms[(ms.Year == year) & (ms.triplenID == triplength) & (ms.shiftfromID == from_mode) & (ms.shifttoID == to_mode)]['ms'].index.tolist()[0]

                        # set equal
                        ms.at[set_ind, 'ms'] = df[df.Year==year][col_name].item()

    # save
    ms.to_excel(f'./../TEAM-Kenya_data_out/Mode_Shift{scenario_name}.xlsx', index=False)