This notebook translates data in the format of the scenario workshops (in the format developed by Christian) to the one used in TEAM.

In [79]:
import pandas as pd

In [80]:
# enter scenario name
scenario_name = ''

In [81]:
ms = pd.read_excel(f'./../TEAM-Kenya_data_out/Mode_Shift.xlsx')
ms

,ScenarioID,CountryID,PolicyID,Year,triplenID,shiftfromID,shifttoID,ms
0,1,9,0,2012,1,1,1,1.0
1,1,9,0,2012,1,1,2,0.0
2,1,9,0,2012,1,1,3,0.0
3,1,9,0,2012,1,1,4,0.0
4,1,9,0,2012,1,1,5,0.0
...,...,...,...,...,...,...,...,...
102523,1,9,0,2100,8,12,8,0.0
102524,1,9,0,2100,8,12,9,0.0
102525,1,9,0,2100,8,12,10,0.0
102526,1,9,0,2100,8,12,11,0.0
102527,1,9,0,2100,8,12,12,1.0

In [82]:
df = pd.read_excel(f'mode_shift_setup_Kenya{scenario_name}.xlsx', skiprows=[0])
df

,Year,TripLength1_FromMode3_ToMode1,TripLength1_FromMode3_ToMode2,TripLength1_FromMode3_ToMode3,TripLength1_FromMode3_ToMode4,TripLength1_FromMode3_ToMode5,TripLength1_FromMode3_ToMode6,TripLength1_FromMode3_ToMode7,TripLength1_FromMode3_ToMode8,TripLength1_FromMode3_ToMode9,...,TripLength8_FromMode11_ToMode3,TripLength8_FromMode11_ToMode4,TripLength8_FromMode11_ToMode5,TripLength8_FromMode11_ToMode6,TripLength8_FromMode11_ToMode7,TripLength8_FromMode11_ToMode8,TripLength8_FromMode11_ToMode9,TripLength8_FromMode11_ToMode10,TripLength8_FromMode11_ToMode11,TripLength8_FromMode11_ToMode12
0,2012,0.00,0,1.00,0,0,0,0,0,0,...,0,0,0,0,0,0.000,0,0,1.000,0
1,2013,0.00,0,1.00,0,0,0,0,0,0,...,0,0,0,0,0,0.000,0,0,1.000,0
2,2014,0.00,0,1.00,0,0,0,0,0,0,...,0,0,0,0,0,0.000,0,0,1.000,0
3,2015,0.00,0,1.00,0,0,0,0,0,0,...,0,0,0,0,0,0.000,0,0,1.000,0
4,2016,0.00,0,1.00,0,0,0,0,0,0,...,0,0,0,0,0,0.000,0,0,1.000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2096,0.05,0,0.95,0,0,0,0,0,0,...,0,0,0,0,0,0.242,0,0,0.758,0
85,2097,0.05,0,0.95,0,0,0,0,0,0,...,0,0,0,0,0,0.244,0,0,0.756,0
86,2098,0.05,0,0.95,0,0,0,0,0,0,...,0,0,0,0,0,0.246,0,0,0.754,0
87,2099,0.05,0,0.95,0,0,0,0,0,0,...,0,0,0,0,0,0.248,0,0,0.752,0
88,2100,0.05,0,0.95,0,0,0,0,0,0,...,0,0,0,0,0,0.250,0,0,0.750,0

In [83]:
triplengths = range(1, 9)
from_modes = range(1, 13)
to_modes = range(1, 13)
years = range(2012, 2101)

In [84]:
for triplength in triplengths:

    for from_mode in from_modes:

        for to_mode in to_modes:

            if f'TripLength{triplength}_FromMode{from_mode}_ToMode{to_mode}' in df.columns.tolist():
                col_name = f'TripLength{triplength}_FromMode{from_mode}_ToMode{to_mode}'

                # fill data
                for year in years:

                    # find the index to fill for this data point in ms
                    set_ind = ms[(ms.Year == year) & (ms.triplenID == triplength) & (ms.shiftfromID == from_mode) & (ms.shifttoID == to_mode)]['ms'].index.tolist()[0]

                    # set equal
                    ms.at[set_ind, 'ms'] = df[df.Year==year][col_name].item()

In [85]:
# save
ms.to_excel(f'./../TEAM-Kenya_data_out/Mode_Shift{scenario_name}.xlsx', index=False)