The long forgotten TOT one. what is it. who knows. this notebook makes it.

In [1]:
import pandas as pd

In [2]:
# make a df for tot95

tot = pd.DataFrame(columns=['CountryID', 'TransTypeID', 'VehTypeID', 'MassCatID', 'TOT_Stock'])

tot

Empty DataFrame
Columns: [CountryID, TransTypeID, VehTypeID, MassCatID, TOT_Stock]
Index: []

In [3]:
# read numveh data - 95
#numveh = pd.read_csv(f'./out_data/processed/numveh95.csv')
numveh = pd.read_csv(f'./out_data/processed/afema_bodge/numveh95_afemabodge.csv')
numveh

,Unnamed: 0,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,0.0,9,70,5,1,3,1,1,1,8.469686e+01
1,1.0,9,70,6,1,3,1,1,1,1.693937e+02
2,2.0,9,70,7,1,3,1,1,1,5.928780e+02
3,3.0,9,70,8,1,3,1,1,1,6.775749e+02
4,4.0,9,70,9,1,3,1,1,1,9.316654e+02
...,...,...,...,...,...,...,...,...,...,...
6501,NaN,9,4275,16,1,8,45,7,15,9.028010e-02
6502,NaN,9,4275,32,1,8,45,7,15,3.025660e-12
6503,NaN,9,4275,33,1,8,45,7,15,3.782154e-16
6504,NaN,9,4275,34,1,8,45,7,15,2.250437e-21
6505,NaN,9,4275,35,1,8,45,7,15,5.665234e-28

In [4]:
row_count = 0

for transtype in numveh.TransTypeID.unique():
    
    for vehtype in numveh.VehTypeID.unique():
        
        for masscat in numveh.MassCatID.unique():
            
            if not numveh[(numveh.TransTypeID == transtype) & (numveh.VehTypeID == vehtype) & (numveh.MassCatID == masscat)].empty:
                
                # return total numveh of this config
                total_numveh = numveh[(numveh.TransTypeID == transtype) & (numveh.VehTypeID == vehtype) & (numveh.MassCatID == masscat)].NumVeh.sum()
                               
                tot.at[row_count, 'CountryID'] = 9
                tot.at[row_count, 'TransTypeID'] = transtype
                tot.at[row_count, 'VehTypeID'] = vehtype
                tot.at[row_count, 'MassCatID'] = masscat
                tot.at[row_count, 'TOT_Stock'] = total_numveh
                
                row_count +=1
                
tot

   CountryID TransTypeID VehTypeID MassCatID      TOT_Stock
0          9           1         3         1  409536.999994
1          9           1         3         2  107103.000002
2          9           1         3         3        15766.0
3          9           1         4        11   49999.999998
4          9           1         4        13        10041.0
5          9           1         4        12   49999.999997
6          9           1         2         4       539769.0
7          9           1         6        31     359.646096
8          9           1         6        32    1975.178376
9          9           1         6        33     207.555955
10         9           1         6        34       3.999784
11         9           1         8        41      17.508654
12         9           1         8        42     155.401581
13         9           1         8        43     160.014291
14         9           1         8        44      49.310698
15         9           1         8        45        1.64632
16         9           2         3        11   41733.999999
17         9           2         3        21        38301.0
18         9           2         5        11   12506.999999
19         9           2         5        21   25014.000002
20         9           2         5        22        42136.0
21         9           2         5        23      15655.925
22         9           2         6        32     282.859107
23         9           2         7        51     136.002517
24         9           2         7        52      64.397489
25         9           2         8        42      12.244288
26         9           2         8        43      35.241775
27         9           2         8        44      11.747786

In [5]:
#tot.to_csv('./out_data/processed/tot95.csv', index=False)
tot.to_csv('./out_data/processed/afema_bodge/tot95_afemabodge.csv', index=False)

In [6]:
tot[tot.VehTypeID == 6].TOT_Stock.sum()

2829.2393191954325