This notebook takes the numveh (base year vehicle numveh data) as an input and produces the totnumveh95 (base year)

In [1]:
import pandas as pd

In [2]:
# make a df for totnumveh

totnumveh = pd.DataFrame(columns=['CountryID', 'TransTypeID', 'VehTypeID', 'Age', 'TotNumVeh', 'TotNumVeh-1', 'NumVehScrap'])

totnumveh

Empty DataFrame
Columns: [CountryID, TransTypeID, VehTypeID, Age, TotNumVeh, TotNumVeh-1, NumVehScrap]
Index: []

In [3]:
# read aemda output data - vehicle numveh
#numveh = pd.read_csv(f'./out_data/processed/numveh95.csv')
numveh = pd.read_csv(f'./out_data/processed/afema_bodge/numveh95_afemabodge.csv')
numveh

,Unnamed: 0,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,0.0,9,70,5,1,3,1,1,1,8.469686e+01
1,1.0,9,70,6,1,3,1,1,1,1.693937e+02
2,2.0,9,70,7,1,3,1,1,1,5.928780e+02
3,3.0,9,70,8,1,3,1,1,1,6.775749e+02
4,4.0,9,70,9,1,3,1,1,1,9.316654e+02
...,...,...,...,...,...,...,...,...,...,...
6501,NaN,9,4275,16,1,8,45,7,15,9.028010e-02
6502,NaN,9,4275,32,1,8,45,7,15,3.025660e-12
6503,NaN,9,4275,33,1,8,45,7,15,3.782154e-16
6504,NaN,9,4275,34,1,8,45,7,15,2.250437e-21
6505,NaN,9,4275,35,1,8,45,7,15,5.665234e-28

In [4]:
base_year = 2015
row_count = 0

for transtype in numveh.TransTypeID.unique():
    
    for vehtype in numveh.VehTypeID.unique():
            
        if not numveh[(numveh.TransTypeID == transtype) & (numveh.VehTypeID == vehtype)].empty:

            for age in numveh[(numveh.TransTypeID == transtype) & (numveh.VehTypeID == vehtype)].Age.unique():

                # return total numveh of this config + age
                total_numveh = numveh[(numveh.TransTypeID == transtype) & (numveh.VehTypeID == vehtype) & (numveh.Age == age)].NumVeh.sum()

                totnumveh.at[row_count, 'CountryID'] = 9
                totnumveh.at[row_count, 'TransTypeID'] = transtype
                totnumveh.at[row_count, 'VehTypeID'] = vehtype
                totnumveh.at[row_count, 'Age'] = age
                totnumveh.at[row_count, 'TotNumVeh'] = total_numveh

                row_count +=1

# just fill it with zero scrap and -1 = '' for now and see what happens
totnumveh['TotNumVeh-1'] = totnumveh['TotNumVeh']
totnumveh['NumVehScrap'] = 0

totnumveh

,CountryID,TransTypeID,VehTypeID,Age,TotNumVeh,TotNumVeh-1,NumVehScrap
0,9,1,3,5,5264.280335,5264.280335,0
1,9,1,3,6,9935.121006,9935.121006,0
2,9,1,3,7,38755.772368,38755.772368,0
3,9,1,3,8,44997.788836,44997.788836,0
4,9,1,3,9,61073.069951,61073.069951,0
...,...,...,...,...,...,...,...
313,9,2,8,1,1.906076,1.906076,0
314,9,2,8,2,8.237745,8.237745,0
315,9,2,8,4,0.126239,0.126239,0
316,9,2,8,5,6.962473,6.962473,0
317,9,2,8,6,6.312588,6.312588,0

In [5]:
totnumveh.VehTypeID.max()

8

In [6]:
#totnumveh.to_csv('./out_data/processed/totnumveh95.csv', index=False)
totnumveh.to_csv('./out_data/processed/afema_bodge/totnumveh95_afemabodge.csv', index=False)