TEAM-Kenya is not working and it may be that there are no records of the TechIDs that should be there after the base year. Therefore this notebok takes the established base year (XX95) tables and creates projection tables into the future. the data for years after the base year can be bogus.

In [35]:
import pandas as pd
import numpy as np

<b>FOR NUMVEH</b>

In [36]:
# import numveh95 table (output from AEMDA)
numveh95 = pd.read_csv(f'./out_data/processed/numveh95.csv')
numveh95

,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,9,70,5,1,3,1,1,1,8.469686e+01
1,9,70,6,1,3,1,1,1,1.693937e+02
2,9,70,7,1,3,1,1,1,5.928780e+02
3,9,70,8,1,3,1,1,1,6.775749e+02
4,9,70,9,1,3,1,1,1,9.316654e+02
...,...,...,...,...,...,...,...,...,...
5205,9,4275,16,1,8,45,7,15,9.028010e-02
5206,9,4275,32,1,8,45,7,15,3.025660e-12
5207,9,4275,33,1,8,45,7,15,3.782154e-16
5208,9,4275,34,1,8,45,7,15,2.250437e-21
5209,9,4275,35,1,8,45,7,15,5.665234e-28

In [37]:
# extra columns are YEAR and ScenarioID (1)
years = range(2012,2051)
feature_list = ['ScenarioID', 'CountryID', 'TechID', 'Year', 'Age', 'TransTypeID', 'VehTypeID', 'MassCatID', 'EngineID', 'FuelID', 'NumVeh']

zero_data = np.zeros(shape=(len(years)*len(numveh95),len(feature_list)))

numveh = pd.DataFrame(zero_data, columns=feature_list)
numveh

,ScenarioID,CountryID,TechID,Year,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
203185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
203186,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
203187,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
203188,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
203189,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
for year in years:
    
    if year == 2012:
        numveh.loc[years.index(year)*len(numveh95):(years.index(year)+1)*len(numveh95)-1, numveh95.columns] = numveh95.loc[:, numveh95.columns].values
        numveh.loc[years.index(year)*len(numveh95):(years.index(year)+1)*len(numveh95)-1, 'Year'] = year
    else:
        numveh.loc[years.index(year)*len(numveh95):(years.index(year)+1)*len(numveh95)-1, [c for c in numveh95.columns if c != 'NumVeh']] = numveh95.loc[:, [c for c in numveh95.columns if c != 'NumVeh']].values
        numveh.loc[years.index(year)*len(numveh95):(years.index(year)+1)*len(numveh95)-1, 'Year'] = year

numveh = numveh.reset_index(drop=True)
numveh['ScenarioID'] = 1
numveh[['CountryID', 'TechID', 'Year', 'Age', 'TransTypeID', 'VehTypeID', 'MassCatID', 'EngineID', 'FuelID']] = numveh[['CountryID', 'TechID', 'Year', 'Age', 'TransTypeID', 'VehTypeID', 'MassCatID', 'EngineID', 'FuelID']].astype(int)
numveh

,ScenarioID,CountryID,TechID,Year,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,1,9,70,2012,5,1,3,1,1,1,84.696857
1,1,9,70,2012,6,1,3,1,1,1,169.393714
2,1,9,70,2012,7,1,3,1,1,1,592.878000
3,1,9,70,2012,8,1,3,1,1,1,677.574857
4,1,9,70,2012,9,1,3,1,1,1,931.665429
...,...,...,...,...,...,...,...,...,...,...,...
203185,1,9,4275,2050,16,1,8,45,7,15,0.000000
203186,1,9,4275,2050,32,1,8,45,7,15,0.000000
203187,1,9,4275,2050,33,1,8,45,7,15,0.000000
203188,1,9,4275,2050,34,1,8,45,7,15,0.000000
203189,1,9,4275,2050,35,1,8,45,7,15,0.000000

In [39]:
numveh.to_csv(f'./out_data/processed/numveh.csv')

<b>FOR NEWVEH</b>

In [40]:
# import newveh95 table
newveh95 = pd.read_csv(f'./out_data/processed/newveh95.csv')
newveh95

    CountryID  TransTypeID  VehTypeID  MassCatID  NumNewVeh
0           9            1          3          1      0.001
1           9            1          3          2      0.001
2           9            1          3          3      0.001
3           9            1          4         11      0.001
4           9            1          4         13      0.001
5           9            1          4         12      0.001
6           9            1          2          4      0.001
7           9            1          6         31      0.001
8           9            1          6         32      0.001
9           9            1          6         33      0.001
10          9            1          6         34      0.001
11          9            1          8         41      0.001
12          9            1          8         42      0.001
13          9            1          8         43      0.001
14          9            1          8         44      0.001
15          9            1          8         45      0.001
16          9            2          3         11      0.001
17          9            2          3         21      0.001
18          9            2          5         11      0.001
19          9            2          5         21      0.001
20          9            2          5         22      0.001
21          9            2          5         23      0.001
22          9            2          6         32      0.001
23          9            2          7         51      0.001
24          9            2          7         52      0.001
25          9            2          8         42      0.001
26          9            2          8         43      0.001
27          9            2          8         44      0.001

In [41]:
# other columns = policyID (all 0), scenarioID (all 1), year
years = range(2012,2051)
feature_list = ['PolicyID', 'ScenarioID', 'CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID', 'NumNewVeh']

zero_data = np.zeros(shape=(len(years)*len(newveh95),len(feature_list)))

newveh = pd.DataFrame(zero_data, columns=feature_list)
newveh

,PolicyID,ScenarioID,CountryID,Year,TransTypeID,VehTypeID,MassCatID,NumNewVeh
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
1087,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1088,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1089,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1090,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1091,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
for year in years:
    
    if year == 2012:
        newveh.loc[years.index(year)*len(newveh95):(years.index(year)+1)*len(newveh95)-1, newveh95.columns] = newveh95.loc[:, newveh95.columns].values
        newveh.loc[years.index(year)*len(newveh95):(years.index(year)+1)*len(newveh95)-1, 'Year'] = year
    else:
        newveh.loc[years.index(year)*len(newveh95):(years.index(year)+1)*len(newveh95)-1, [c for c in newveh95.columns if c != 'NumNewVeh']] = newveh95.loc[:, [c for c in newveh95.columns if c != 'NumNewVeh']].values
        newveh.loc[years.index(year)*len(newveh95):(years.index(year)+1)*len(newveh95)-1, 'Year'] = year

newveh = newveh.reset_index(drop=True)
newveh['ScenarioID'] = 1
newveh['PolicyID'] = 0
newveh[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID']] = newveh[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID']].astype(int)
newveh

,PolicyID,ScenarioID,CountryID,Year,TransTypeID,VehTypeID,MassCatID,NumNewVeh
0,0,1,9,2012,1,3,1,0.001
1,0,1,9,2012,1,3,2,0.001
2,0,1,9,2012,1,3,3,0.001
3,0,1,9,2012,1,4,11,0.001
4,0,1,9,2012,1,4,13,0.001
...,...,...,...,...,...,...,...,...
1087,0,1,9,2050,2,7,51,0.000
1088,0,1,9,2050,2,7,52,0.000
1089,0,1,9,2050,2,8,42,0.000
1090,0,1,9,2050,2,8,43,0.000
1091,0,1,9,2050,2,8,44,0.000

In [44]:
newveh.to_csv('./out_data/processed/newveh_ZEROES.csv', index=False)

<b>FOR TOTNUMVEH</b>

In [ ]:
# import totnumveh95 table
totnumveh95 = pd.read_csv(f'./out_data/processed/totnumveh95.csv')
totnumveh95

In [ ]:
# other columns = scenario, policy, year. take AWAY notnumveh-1
years = range(2012,2051)
feature_list = ['ScenarioID', 'CountryID', 'PolicyID', 'Year', 'TransTypeID', 'VehTypeID', 'Age', 'TotNumVeh', 'NumVehScrap']

zero_data = np.zeros(shape=(len(years)*len(totnumveh95),len(feature_list)))

totnumveh = pd.DataFrame(zero_data, columns=feature_list)
totnumveh

In [ ]:
for year in years:
    
    if year == 2012:
        totnumveh.loc[years.index(year)*len(totnumveh95):(years.index(year)+1)*len(totnumveh95)-1, [c for c in totnumveh95.columns if c not in ['TotNumVeh-1']]] = totnumveh95.loc[:, [c for c in totnumveh95.columns if c not in ['TotNumVeh-1']]].values
        totnumveh.loc[years.index(year)*len(totnumveh95):(years.index(year)+1)*len(totnumveh95)-1, 'Year'] = year
    else:
        totnumveh.loc[years.index(year)*len(totnumveh95):(years.index(year)+1)*len(totnumveh95)-1, [c for c in totnumveh95.columns if c not in ['TotNumVeh', 'TotNumVeh-1', 'NumVehScrap']]] = totnumveh95.loc[:, [c for c in totnumveh95.columns if c not in ['TotNumVeh', 'TotNumVeh-1', 'NumVehScrap']]].values
        totnumveh.loc[years.index(year)*len(totnumveh95):(years.index(year)+1)*len(totnumveh95)-1, 'Year'] = year

totnumveh = totnumveh.reset_index(drop=True)
totnumveh['ScenarioID'] = 1
totnumveh['PolicyID'] = 0
totnumveh[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'Age']] = totnumveh[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'Age']].astype(int)
totnumveh

In [ ]:
totnumveh.to_csv('./out_data/processed/totnumveh.csv', index=False)

<b>FOR TOT</b>

In [ ]:
# import tot95 table
tot95 = pd.read_csv(f'./out_data/processed/tot95.csv')
tot95

In [ ]:
# other columns = scenario, policy, year. take AWAY notnumveh-1
years = range(2012,2051)
feature_list = ['ScenarioID', 'CountryID', 'PolicyID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID', 'TOT_Stock']

zero_data = np.zeros(shape=(len(years)*len(tot95),len(feature_list)))

tot = pd.DataFrame(zero_data, columns=feature_list)
tot

In [ ]:
for year in years:
    
    if year == 2012:
        tot.loc[years.index(year)*len(tot95):(years.index(year)+1)*len(tot95)-1, [c for c in tot95.columns]] = tot95.loc[:, [c for c in tot95.columns]].values
        tot.loc[years.index(year)*len(tot95):(years.index(year)+1)*len(tot95)-1, 'Year'] = year
    else:
        tot.loc[years.index(year)*len(tot95):(years.index(year)+1)*len(tot95)-1, [c for c in tot95.columns if c not in ['TOT_Stock']]] = tot95.loc[:, [c for c in tot95.columns if c not in ['TOT_Stock']]].values
        tot.loc[years.index(year)*len(tot95):(years.index(year)+1)*len(tot95)-1, 'Year'] = year

tot = tot.reset_index(drop=True)
tot['ScenarioID'] = 1
tot['PolicyID'] = 0
tot[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID']] = tot[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID']].astype(int)
tot

In [ ]:
tot.to_csv('./out_data/processed/tot.csv', index=False)