This notebook takes the numveh (base year vehicle numveh data) as an input as prepared by AEMDA and outputs to a new file name. 

In addition, it adds numveh for vehicletypes 6,7,8.

In [10]:
import pandas as pd

In [11]:
# read aemda output data - vehicle numveh
#numveh = pd.read_csv(f'./out_data/VehicleStock.csv')
numveh = pd.read_csv(f'./out_data/processed/afema_bodge/numveh95_afemabodge.csv')

In [12]:
# read original (UK data) to extract data for ships, planes and trains. Use a simple proportion for each type
numvehuk = pd.read_excel('./sample_data/VehicleStock.xlsx')
numvehuk

,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,9,10,12,1,2,4,10,1,5126.888000
1,9,10,13,1,2,4,10,1,4341.886000
2,9,10,14,1,2,4,10,1,1695.460000
3,9,10,15,1,2,4,10,1,315.866200
4,9,10,16,1,2,4,10,1,93.856110
...,...,...,...,...,...,...,...,...,...
2405,9,5879,7,2,5,28,6,12,0.008200
2406,9,5880,0,2,5,28,14,12,6.176912
2407,9,5880,1,2,5,28,14,12,4.261423
2408,9,5880,2,2,5,28,14,12,0.484696
2409,9,5880,3,2,5,28,14,12,0.360165

In [13]:
#Vehicle Type IDs

# VehTypeID	VehTypeAB	VehTypeNA
# 0	WALK	Walking
# 1	BIKE	Bicycle
# 2	MOTO	Motorcycle
# 3	CAR	Car
# 4	BUS	Bus
# 5	TRUCK	Truck
# 6	TRAIN	Train
# 7	SHIP	Ship
# 8	PLANE	Aeroplane

# proportions UK --> Kenya
train_proportion = 0.1
ship_proportion = 0.1
plane_proportion = 0.1

# # return data for trains ships planes (tsp)
# numvehuk_trains = numvehuk[numvehuk.VehTypeID == 6]
# numvehuk_ships = numvehuk[numvehuk.VehTypeID == 7]
# numvehuk_planes = numvehuk[numvehuk.VehTypeID == 8]

numvehuk.loc[numvehuk[numvehuk.VehTypeID == 6].index.tolist(), 'NumVeh'] *= train_proportion
numvehuk.loc[numvehuk[numvehuk.VehTypeID == 7].index.tolist(), 'NumVeh'] *= ship_proportion
numvehuk.loc[numvehuk[numvehuk.VehTypeID == 8].index.tolist(), 'NumVeh'] *= plane_proportion

In [14]:
numveh = numveh.append(numvehuk[numvehuk.VehTypeID.isin([6,7,8])])
numveh = numveh.reset_index(drop=True)

C:\Users\cenv0795\AppData\Local\Temp\ipykernel_11876\709587314.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  numveh = numveh.append(numvehuk[numvehuk.VehTypeID.isin([6,7,8])])

In [15]:
numveh

,Unnamed: 0,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,0.0,9,70,5,1,3,1,1,1,8.469686e+01
1,1.0,9,70,6,1,3,1,1,1,1.693937e+02
2,2.0,9,70,7,1,3,1,1,1,5.928780e+02
3,3.0,9,70,8,1,3,1,1,1,6.775749e+02
4,4.0,9,70,9,1,3,1,1,1,9.316654e+02
...,...,...,...,...,...,...,...,...,...,...
6501,NaN,9,4275,16,1,8,45,7,15,9.028010e-02
6502,NaN,9,4275,32,1,8,45,7,15,3.025660e-12
6503,NaN,9,4275,33,1,8,45,7,15,3.782154e-16
6504,NaN,9,4275,34,1,8,45,7,15,2.250437e-21
6505,NaN,9,4275,35,1,8,45,7,15,5.665234e-28

In [16]:
#numveh.to_csv('./out_data/processed/numveh95.csv', index=False)
numveh.to_csv('./out_data/processed/afema_bodge/numveh95_afemabodge.csv', index=False)