This notebook enters the scrappage parameters, ave km per year and load factor into parameters_XX for each XX ={vehicles}

In [3]:
import pandas as pd
import numpy as np

In [6]:
# read in parameters table for given vehicle
def read_parameters_table(vehicle):
    return pd.read_excel(f'./../../TEAM-Kenya_data_out/original-team-uk-data/Parameters_{vehicle}.xlsx')

In [9]:
def read_technology():
    return pd.read_excel(f'./../../TEAM-Kenya_data_out/original-team-uk-data/Technology.xlsx')

In [ ]:
# MASSCATID!!
# MassCatID	MassCatNA	MassCatValue	MassCatPFix	MassCatUnit
# 1	Small	0.9	M	g
# 2	Medium	1.3	M	g
# 3	Large	1.6	M	g
# 4	Average moto	0.015	M	g
# 11	Mini	2.5	M	g
# 12	Urban	8	M	g
# 13	Coach	8	M	g
# 21	PanelSideVan	1.6	M	g
# 22	Medium	8	M	g
# 23	Heavy	12	M	g
# 24	CarDerivedVan	1.6	M	g
# 25	Pickup4x4Van	1.6	M	g
# 26	DropAndTipVan	1.6	M	g
# 27	BoxLutonInsVan	1.6	M	g
# 28	OtherVan	1.6	M	g
# 31	Light	150	M	g
# 32	Regional	375	M	g
# 33	National	685	M	g
# 34	High Speed	400	M	g
# 35	Maglev	250	M	g
# 41	General Aviation	4	M	g
# 42	Short Distance	32	M	g
# 43	Middle Distance	57	M	g
# 44	Long Distance	180	M	g
# 45	Supersonic	250	M	g
# 51	River	900	M	g
# 52	Coastal	9300	M	g
# 53	Maritime	9300	M	g

# FUEL ID!!!
# FuelID	FuelTypeID	FuelAB	FuelNA	Condition	DenomUnit	Density_kg	CalValue_MJ
# 1	1	GAS	Gasoline		l	0.75	32.18
# 2	1	DIESEL	Diesel		l	0.83	35.86
# 3	1	GAS_IMP	Improved Gasoline		l	0.75	32.18
# 4	1	DIE_IMP	Improved Diesel		l	0.83	35.86
# 5	1	LPG	Liquified Petroleum Gas		l	0.55	25.30
# 6	3	MEOH	Biomethanol		l	0.79	15.78
# 7	3	E85	Bioethanol(85)-petrol(15) blend		l	0.79	23.02
# 8	3	B100	Biodiesel (FT, synthetic)		l	0.78	34.32
# 10	2	CNG	Compressed Natural Gas	200 bar (20 MPa)	l	0.17	8.30
# 11	3	CBG	Compressed Bio Gas	200 bar (20 MPa)	l	0.17	8.30
# 12	4	EL	Electricity		Wh		0.00
# 13	3	GH2	Gaseous Hydrogen	700 bar compressed	l	0.03	3.20
# 14	3	LH2	Liquefied Hydrogen	-253 deg C. (20 K)	l	0.08	9.20
# 15	1	KEROSENE	Aviation fuel (Jet A-1)		l	0.80	34.69
# 16	3	BIOJET	Bio jet fuel (100%)		l	0.79	34.00

In [4]:
# *** AVERAGE KM PER VEHICLE ***
# data from GIZ is by size (MassCatID) and fuel (FuelID). Remember masscat 1=small car, 2=medium car, 3=large car, 4=moto,
avg_km_per_year = {'CAR': {1: {1: 23023, 2: 15448, 3: 23023, 4: 23023, 5: 23023, 6: 23023, 7: 23023, 8: 23023, 9: 23023, 10: 23023, 11: 23023, 12: 23023, 13: 23023, 14: 23023},
                           2: {1: 19014, 2: 13108, 3: 19014, 4: 19014, 5: 19014, 6: 19014, 7: 19014, 8: 19014, 9: 19014, 10: 19014, 11: 19014, 12: 19014, 13: 19014, 14: 19014},
                           3: {1: 25213, 2: 44314, 3: 25213, 4: 25213, 5: 25213, 6: 25213, 7: 25213, 8: 25213, 9: 25213, 10: 25213, 11: 25213, 12: 25213, 13: 25213, 14: 25213}},
                   'BUS': {11: {1: 18971, 2: 31986, 3: 31986, 4: 31986, 5: 31986, 6: 31986, 7: 31986, 8: 31986, 9: 31986, 10: 31986, 11: 31986, 12: 31986, 13: 31986, 14: 31986},
                           12: {1: 43815, 2: 43815, 3: 43815, 4: 43815, 5: 43815, 6: 43815, 7: 43815, 8: 43815, 9: 43815, 10: 43815, 11: 43815, 12: 43815, 13: 43815, 14: 43815},
                           13: {1: 43815, 2: 43815, 3: 43815, 4: 43815, 5: 43815, 6: 43815, 7: 43815, 8: 43815, 9: 43815, 10: 43815, 11: 43815, 12: 43815, 13: 43815, 14: 43815}},
                   'MOTO': {4: {1: 17807, 2: 17807, 3: 17807, 4: 17807, 5: 17807, 6: 17807, 7: 17807, 8: 17807, 9: 17807, 10: 17807, 11: 17807, 12: 17807, 13: 17807, 14: 17807}},
                   'TRUCK':{21: {1: 48383, 2: 48383, 3: 48383, 4: 48383, 5: 48383, 6: 48383, 7: 48383, 8: 48383, 9: 48383, 10: 48383, 11: 48383, 12: 48383, 13: 48383, 14: 48383},
                            22: {1: 35823, 2: 35823, 3: 35823, 4: 35823, 5: 35823, 6: 35823, 7: 35823, 8: 35823, 9: 35823, 10: 35823, 11: 35823, 12: 35823, 13: 35823, 14: 35823},
                            23: {1: 63205, 2: 63205, 3: 63205, 4: 63205, 5: 63205, 6: 63205, 7: 63205, 8: 63205, 9: 63205, 10: 63205, 11: 63205, 12: 63205, 13: 63205, 14: 63205},
                            24: {1: 48383, 2: 48383, 3: 48383, 4: 48383, 5: 48383, 6: 48383, 7: 48383, 8: 48383, 9: 48383, 10: 48383, 11: 48383, 12: 48383, 13: 48383, 14: 48383},
                            25: {1: 48383, 2: 48383, 3: 48383, 4: 48383, 5: 48383, 6: 48383, 7: 48383, 8: 48383, 9: 48383, 10: 48383, 11: 48383, 12: 48383, 13: 48383, 14: 48383},
                            26: {1: 48383, 2: 48383, 3: 48383, 4: 48383, 5: 48383, 6: 48383, 7: 48383, 8: 48383, 9: 48383, 10: 48383, 11: 48383, 12: 48383, 13: 48383, 14: 48383},
                            27: {1: 48383, 2: 48383, 3: 48383, 4: 48383, 5: 48383, 6: 48383, 7: 48383, 8: 48383, 9: 48383, 10: 48383, 11: 48383, 12: 48383, 13: 48383, 14: 48383},
                            28: {1: 48383, 2: 48383, 3: 48383, 4: 48383, 5: 48383, 6: 48383, 7: 48383, 8: 48383, 9: 48383, 10: 48383, 11: 48383, 12: 48383, 13: 48383, 14: 48383}}}

In [5]:
# *** LOAD FACTOR OF VEHICLES ***
# CAR and BUS taken from GIZ TrACS - https://www.changing-transport.org/wp-content/uploads/2018_GIZ_INFRAS_Transport_Mitigation_Options_Kenya.pdf table 7
# MOTO based on conversation with Paul & Tom

load_factor = {'CAR': 2, 'MOTO': 1.5, 'BUS': 26.4}

In [ ]:
# *** SCRAPPAGE PARAMETERS ***
# cars and motos are very similar I think. Based on analysis of CDF of scappage vs. median life from GIZ INFRAS 2019.

scrappage_parameters = {'CAR': {'ExpectLife': 21, 'FailSteep': 7},
                        'MOTO': {'ExpectLife': 21, 'FailSteep': 5},
                        'BUS': {'ExpectLife': 25, 'FailSteep': 7.5},
                        'TRUCK': {'ExpectLife': 21, 'FailSteep': 7}}

In [7]:
df = read_parameters_table('CAR')
df

,CountryID,TechID,Year,Description,AveCapacity,AveLoadFactor,AveAnnualKm,ExpectLife,FailSteep,EVCapacity,Range
0,9,70,2012,Road - Car - Small - Gasoline - Conventional (...,4,0.394609,17124,21,7,35,0
1,9,70,2013,Road - Car - Small - Gasoline - Conventional (...,4,0.394335,17124,21,7,35,0
2,9,70,2014,Road - Car - Small - Gasoline - Conventional (...,4,0.394062,17124,21,7,35,0
3,9,70,2015,Road - Car - Small - Gasoline - Conventional (...,4,0.393788,17124,21,7,35,0
4,9,70,2016,Road - Car - Small - Gasoline - Conventional (...,4,0.393515,17124,21,7,35,0
...,...,...,...,...,...,...,...,...,...,...,...
41439,9,10708,2096,Road - Car - Medium - Electricity - Euro 12 (2...,4,0.399326,17124,21,7,35,0
41440,9,10708,2097,Road - Car - Medium - Electricity - Euro 12 (2...,4,0.399326,17124,21,7,35,0
41441,9,10708,2098,Road - Car - Medium - Electricity - Euro 12 (2...,4,0.399326,17124,21,7,35,0
41442,9,10708,2099,Road - Car - Medium - Electricity - Euro 12 (2...,4,0.399326,17124,21,7,35,0
41443,9,10708,2100,Road - Car - Medium - Electricity - Euro 12 (2...,4,0.399326,17124,21,7,35,0

In [10]:
technology = read_technology()
technology

,TechID,ModeID,VehTypeID,MassCatID,FuelID,EngineID,TransTypeID,Availability,Final_Year,HybridFlag,spec_energ_consump,spec_energ_electric,noise_class,PurchasePrice,ExpectedLifeFactor,Capacity,AveEconLife,SecondHandImportFlag,note
0,10,1,2,4,1,10,1,1980,2000.0,0,6.571951,NaN,0,5000.0,1,2.0,10,0,NaN
1,20,1,2,4,12,10,1,1995,2010.0,0,9.514442,NaN,2,7000.0,1,2.0,10,0,NaN
2,25,1,2,4,12,11,1,2010,2020.0,0,8.380919,NaN,2,6000.0,1,2.0,10,0,NaN
3,26,1,2,4,12,12,1,2020,NaN,0,7.183646,NaN,2,5500.0,1,2.0,10,0,NaN
4,30,1,2,4,1,11,1,2000,2010.0,0,5.645645,NaN,0,5000.0,1,2.0,10,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2241,14889,1,5,28,13,13,2,2033,2038.0,0,179.199997,1.0,2,14000.0,1,2.5,10,1,NaN
2242,14890,1,5,28,13,13,2,2038,2043.0,0,153.889999,1.0,2,12000.0,1,2.5,10,1,NaN
2243,14891,1,5,28,13,13,2,2043,2048.0,0,132.149994,1.0,2,12000.0,1,2.5,10,1,NaN
2244,14892,1,5,28,13,13,2,2048,2053.0,0,113.480003,1.0,2,12000.0,1,2.5,10,1,NaN
2245,14893,1,5,28,13,13,2,2053,NaN,0,97.449997,1.0,2,12000.0,1,2.5,10,1,NaN

In [13]:
masscat=3
fuel=1
df.loc[df[(df.TechID.isin(technology[technology.MassCatID == masscat].TechID)) & (df.TechID.isin(technology[technology.FuelID == fuel].TechID))].index.tolist(), 'AveLoadFactor'] =

,CountryID,TechID,Year,Description,AveCapacity,AveLoadFactor,AveAnnualKm,ExpectLife,FailSteep,EVCapacity,Range
3234,9,190,2012,Road - Car - Large - Gasoline - Conventional (...,4,0.394609,17124,21,7,35,0
3235,9,190,2013,Road - Car - Large - Gasoline - Conventional (...,4,0.394335,17124,21,7,35,0
3236,9,190,2014,Road - Car - Large - Gasoline - Conventional (...,4,0.394062,17124,21,7,35,0
3237,9,190,2015,Road - Car - Large - Gasoline - Conventional (...,4,0.393788,17124,21,7,35,0
3238,9,190,2016,Road - Car - Large - Gasoline - Conventional (...,4,0.393515,17124,21,7,35,0
...,...,...,...,...,...,...,...,...,...,...,...
31904,9,9407,2096,Road - Car - Large - Gasoline - Euro 12 (2045-...,4,0.399326,17124,21,7,35,0
31905,9,9407,2097,Road - Car - Large - Gasoline - Euro 12 (2045-...,4,0.399326,17124,21,7,35,0
31906,9,9407,2098,Road - Car - Large - Gasoline - Euro 12 (2045-...,4,0.399326,17124,21,7,35,0
31907,9,9407,2099,Road - Car - Large - Gasoline - Euro 12 (2045-...,4,0.399326,17124,21,7,35,0
31908,9,9407,2100,Road - Car - Large - Gasoline - Euro 12 (2045-...,4,0.399326,17124,21,7,35,0

In [14]:
# go through each vehicle
for vehicle in avg_km_per_year:
    for
    avg_km_per_year[vehicle][masscat][fuel]

CAR
BUS
MOTO
TRUCK