In [1]:
import pandas as pd

In [2]:
def read_parameters_table(vehicle):
    return pd.read_excel(f'./../../TEAM-Kenya_data_out/original-team-uk-data/Parameters_{vehicle}.xlsx')

In [3]:
def read_technology():
    return pd.read_excel(f'./../../TEAM-Kenya_data_out/original-team-uk-data/Technology.xlsx')

In [4]:
technology = read_technology()
technology

,TechID,ModeID,VehTypeID,MassCatID,FuelID,EngineID,TransTypeID,Availability,Final_Year,HybridFlag,spec_energ_consump,spec_energ_electric,noise_class,PurchasePrice,ExpectedLifeFactor,Capacity,AveEconLife,SecondHandImportFlag,note
0,10,1,2,4,1,10,1,1980,2000.0,0,6.571951,NaN,0,5000.0,1,2.0,10,0,NaN
1,20,1,2,4,12,10,1,1995,2010.0,0,9.514442,NaN,2,7000.0,1,2.0,10,0,NaN
2,25,1,2,4,12,11,1,2010,2020.0,0,8.380919,NaN,2,6000.0,1,2.0,10,0,NaN
3,26,1,2,4,12,12,1,2020,NaN,0,7.183646,NaN,2,5500.0,1,2.0,10,0,NaN
4,30,1,2,4,1,11,1,2000,2010.0,0,5.645645,NaN,0,5000.0,1,2.0,10,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2241,14889,1,5,28,13,13,2,2033,2038.0,0,179.199997,1.0,2,14000.0,1,2.5,10,1,NaN
2242,14890,1,5,28,13,13,2,2038,2043.0,0,153.889999,1.0,2,12000.0,1,2.5,10,1,NaN
2243,14891,1,5,28,13,13,2,2043,2048.0,0,132.149994,1.0,2,12000.0,1,2.5,10,1,NaN
2244,14892,1,5,28,13,13,2,2048,2053.0,0,113.480003,1.0,2,12000.0,1,2.5,10,1,NaN
2245,14893,1,5,28,13,13,2,2053,NaN,0,97.449997,1.0,2,12000.0,1,2.5,10,1,NaN

In [5]:
parameters_moto = read_parameters_table('MOTO')
parameters_moto

,CountryID,TechID,Year,Description,AveCapacity,AveLoadFactor,AveAnnualKm,ExpectLife,FailSteep
0,9,10,2012,Road - Motorcycle - Average moto - Gasoline - ...,2,0.540000,5272,14,5
1,9,10,2013,Road - Motorcycle - Average moto - Gasoline - ...,2,0.540000,5272,14,5
2,9,10,2014,Road - Motorcycle - Average moto - Gasoline - ...,2,0.540000,5272,14,5
3,9,10,2015,Road - Motorcycle - Average moto - Gasoline - ...,2,0.540000,5272,14,5
4,9,10,2016,Road - Motorcycle - Average moto - Gasoline - ...,2,0.540000,5272,14,5
...,...,...,...,...,...,...,...,...,...
678,9,60,2096,Road - Motorcycle - Average moto - Gaseous Hyd...,2,0.533394,6312,14,5
679,9,60,2097,Road - Motorcycle - Average moto - Gaseous Hyd...,2,0.533394,6312,14,5
680,9,60,2098,Road - Motorcycle - Average moto - Gaseous Hyd...,2,0.533394,6312,14,5
681,9,60,2099,Road - Motorcycle - Average moto - Gaseous Hyd...,2,0.533394,6312,14,5
682,9,60,2100,Road - Motorcycle - Average moto - Gaseous Hyd...,2,0.533394,6312,14,5

In [6]:
annual_km = {2012: 17807,
             2013: 17800,
             2014: 17800,
             2015: 17800,
             2016: 15784,
             2017: 13768,
             2018: 11752,
             2019: 9736,
             2020: 9400,
             2021: 9400,
             2022: 9400,
             2023: 9400,
             2024: 9400,
             2025: 9400,
             2026: 9400,
             2027: 9400,
             2028: 9400,
             2029: 9400,
             2030: 9400,
             2031: 9400,
             2032: 9400,
             2033: 9400,
             2034: 9400,
             2035: 9400,
             2036: 9400,
             2037: 9400,
             2038: 9400,
             2039: 9400,
             2040: 9400,
             2041: 9400,
             2042: 9400,
             2043: 9400,
             2044: 9400,
             2045: 9400,
             2046: 9400,
             2047: 9400,
             2048: 9400,
             2049: 9400,
             2050: 9400
             }

In [8]:
for year in range(2012,2051):
    parameters_moto.loc[parameters_moto[parameters_moto['Year'] == year].index, 'AveAnnualKm'] = annual_km[year]

In [10]:
# save
parameters_moto.to_excel(f'./../../TEAM-Kenya_data_out/base-case-kenya-data/Parameters_MOTO_variableannkm.xlsx')