This notebook translates fuel taxation levels from scenarios into the policystep1_fueltax sheet

In [1]:
import pandas as pd
import numpy as np

## TODO :: NOT FINISHED!!!!

In [2]:
# import uk data for table structure
def return_policy_step1_fueltax():
    policy_step1 = pd.read_excel(f'./../TEAM-Kenya_data_out/original-team-uk-data/Policy_Step1_FuelTax.xlsx')
    return policy_step1

In [3]:
# base rates in GB per litre - electricity?
def return_base_rates_policy_impacts(policy_impacts, technology, base_rates):

    for techid in technology.TechID.unique().tolist():

        set_inds = policy_impacts[policy_impacts.TechID == techid].index.tolist()

        policy_impacts.loc[set_inds, 'PurchaseTax'] = base_rates['ImportDuty']*technology[technology.TechID == techid]['PurchasePrice'].item() + base_rates['ExciseDuty']*(1+base_rates['ImportDuty'])*technology[technology.TechID == techid]['PurchasePrice'].item() + base_rates['VAT']*(1+base_rates['ExciseDuty'])*(1+base_rates['ImportDuty'])*technology[technology.TechID == techid]['PurchasePrice'].item()

    return policy_impacts

      CountryID  PolicyID  Year  VehTypeID  FuelID  FuelTax
0             9         0  2012          2       1        0
1             9         0  2012          2      12        0
2             9         0  2012          3       1        0
3             9         0  2012          3       2        0
4             9         0  2012          3       5        0
...         ...       ...   ...        ...     ...      ...
3070          9         0  2100          6      12        0
3071          9         0  2100          7       2        0
3072          9         0  2100          8      12        0
3073          9         0  2100          8      14        0
3074          9         0  2100          8      15        0

[3075 rows x 6 columns]

In [ ]:
# taxation rates per fuel type
base_rates = {1: 0.2,
            2: 0.2,
            3: 0.3,
            4: 0.4,
            5: 0.3,
            6: 0.2,
            7: 0.2,
            8: 0.3,
            9: 0.4,
            10: 0.3,
            11: 0.2,
            12: 0.2}

# fuel prices per litre/kwh 
base_rates = {1: 0.2,
            2: 0.2,
            3: 0.3,
            4: 0.4,
            5: 0.3,
            6: 0.2,
            7: 0.2,
            8: 0.3,
            9: 0.4,
            10: 0.3,
            11: 0.2,
            12: 0.2}