This notebook is based on Eric's work. It takes the WB travel survey stata file and tries to determine distance values based on journey time.

I think it's fundamentally flawed because it's based on 'what is travel mode of person X', rather than trip count data. Discounting.

In [30]:
import pandas as pd

In [31]:
# import stata file
df = pd.read_stata(f'./../WB_travelsurvey.dta')

In [32]:
# transport Qs are mode to work and time to work

main_mode_cols = ['age_1', 'age_2', 'age_3', 'age_4', 'age_5', 'age_6', 'age_7', 'age_8', 'age_9', 'age_10', 'age_11',
                  'age_12', 'age_13', 'age_14', 'age_15',
                  'q14d_1', 'q14d_2', 'q14d_3', 'q14d_4', 'q14d_5', 'q14d_6', 'q14d_7', 'q14d_8', 'q14d_9', 'q14d_10',
                  'q14d_11', 'q14d_12', 'q14d_13', 'q14d_14', 'q14d_15',
                  'q14l_1', 'q14l_2', 'q14l_3', 'q14l_4', 'q14l_5', 'q14l_6', 'q14l_7', 'q14l_8', 'q14l_9', 'q14l_10',
                  'q14l_11', 'q14l_12', 'q14l_13', 'q14l_14', 'q14l_15', 'q14l_1_99', 'q14l_2_99', 'q14l_3_99',
                  'q14l_4_99', 'q14l_5_99', 'q14l_6_99', 'q14l_7_99', 'q14l_8_99', 'q14l_9_99', 'q14l_10_99',
                  'q14l_11_99', 'q14l_12_99', 'q14l_13_99', 'q14l_14_99', 'q14l_15_99', 'q14m_1', 'q14m_2', 'q14m_3',
                  'q14m_4', 'q14m_5', 'q14m_6', 'q14m_7', 'q14m_8', 'q14m_9', 'q14m_10', 'q14m_11', 'q14m_12',
                  'q14m_13', 'q14m_14', 'q14m_15']

In [33]:
# narrow down to transport stuff
df = df[main_mode_cols]
df

,age_1,age_2,age_3,age_4,age_5,age_6,age_7,age_8,age_9,age_10,...,q14m_6,q14m_7,q14m_8,q14m_9,q14m_10,q14m_11,q14m_12,q14m_13,q14m_14,q14m_15
0,37,34,-7,-1,-1,-1,-1,-1,-1,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27,25,2,-1,-1,-1,-1,-1,-1,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25,22,8,-7,-1,-1,-1,-1,-1,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27,3,-7,-1,-1,-1,-1,-1,-1,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14576,23,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14577,23,20,0,-1,-1,-1,-1,-1,-1,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14578,42,21,17,14,9,-1,-1,-1,-1,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14579,71,51,42,-1,-1,-1,-1,-1,-1,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14580,76,64,12,10,8,-1,-1,-1,-1,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
values = {'Walk': 0,
          'Microbus/Matatu': 0,
          'Bodaboda (Bicycle taxi)': 0,
          'Other, specify': 0,
          'Own bicycle': 0,
          'Own vehicle': 0,
          'Bus regular': 0,
          'Taxi (vehicle)': 0,
          'Shared taxi': 0}

In [35]:
# Count school trips by mode
for mode in values:
    for q in range(1, 16):
        values[mode] += len(df[(df[f'q14l_{q}'] == mode) & (df[f'q14d_{q}'] == 'Currently attending')])
values

{'Walk': 9226,
 'Microbus/Matatu': 1704,
 'Bodaboda (Bicycle taxi)': 228,
 'Other, specify': 121,
 'Own bicycle': 48,
 'Own vehicle': 45,
 'Bus regular': 139,
 'Taxi (vehicle)': 9,
 'Shared taxi': 0}

In [36]:
# Count total number of students
print(sum(values.values()))

11520

In [37]:
# Count work commute trips by mode
for mode in values:
    for q in range(1, 16):
        values[mode] += len(df[(df[f'q14l_{q}'] == mode) & (df[f'q14d_{q}'] != 'Currently attending')])
values

{'Walk': 19336,
 'Microbus/Matatu': 5845,
 'Bodaboda (Bicycle taxi)': 1092,
 'Other, specify': 681,
 'Own bicycle': 418,
 'Own vehicle': 338,
 'Bus regular': 199,
 'Taxi (vehicle)': 51,
 'Shared taxi': 0}

In [39]:
# Count total number of commuting workers
print(sum(values.values()))

27960

In [41]:
# Count total number of people in this survey
people = 0
for x in range(1, 16):
    people += len(df[df[f'age_{x}'] > 0])
print(f'number of survey respondents: {people}')

# Count total number of students
students = 0
for y in range(1, 16):
    students += len(df[df[f'q14d_{y}'] == 'Currently attending'])
print(f'number of students: {students}')

print(f'number of commuting workers: {people - students}')

number of survey respondents: 43892
number of students: 11657
number of commuting workers: 32235

In [42]:
# Calculate total trip time in hours of each transport mode
triptime = {'Walk': 0,
            'Microbus/Matatu': 0,
            'Bodaboda (Bicycle taxi)': 0,
            'Other, specify': 0,
            'Own bicycle': 0,
            'Own vehicle': 0,
            'Bus regular': 0,
            'Taxi (vehicle)': 0,
            'Shared taxi': 0}

In [43]:
for d in range(1, 16):
    df[f'q14m_{d}'] = df[f'q14m_{d}'].clip(lower=0)

In [44]:
for mode in triptime:
    for a in range(1, 16):
        triptime[mode] += df.loc[df[f'q14l_{a}'] == mode, f'q14m_{a}'].sum() / 60
triptime

{'Walk': 5614.15,
 'Microbus/Matatu': 5058.566666666666,
 'Bodaboda (Bicycle taxi)': 307.4833333333333,
 'Other, specify': 419.9833333333334,
 'Own bicycle': 148.81666666666666,
 'Own vehicle': 188.16666666666669,
 'Bus regular': 135.1833333333333,
 'Taxi (vehicle)': 14.816666666666668,
 'Shared taxi': 0.0}

In [45]:
# Calculate total trip distance in miles
speed = {'Walk': 3,
         'Microbus/Matatu': 20,
         'Bodaboda (Bicycle taxi)': 15,
         'Other, specify': 15,
         'Own bicycle': 10,
         'Own vehicle': 30,
         'Bus regular': 20,
         'Taxi (vehicle)': 30,
         'Shared taxi': 30}

In [46]:
# Create new columns of travel speed in mph
for b in range(1, 16):
    df[f'speed_{b}'] = df[f'q14l_{b}'].map(speed)

In [47]:
# Create new columns of travel distance of each individual
df['speed_9'] = df['speed_9'].astype('float64')
df['speed_10'] = df['speed_10'].astype('float64')
df['speed_11'] = df['speed_11'].astype('float64')
df['speed_12'] = df['speed_12'].astype('float64')
df['speed_13'] = df['speed_13'].astype('float64')
df['speed_14'] = df['speed_14'].astype('float64')
df['speed_15'] = df['speed_15'].astype('float64')

In [48]:
for c in range(1, 16):
    df[f'tripdist_{c}'] = df[f'speed_{c}'] * df[f'q14m_{c}'] / 60

In [51]:
# Calculate total trip distance in each trip length bucket
tripdistance1 = {'Walk': 0,
                 'Microbus/Matatu': 0,
                 'Bodaboda (Bicycle taxi)': 0,
                 'Other, specify': 0,
                 'Own bicycle': 0,
                 'Own vehicle': 0,
                 'Bus regular': 0,
                 'Taxi (vehicle)': 0,
                 'Shared taxi': 0}

for mode in tripdistance1:
    for e in range(1, 16):
        tripdistance1[mode] += df.loc[(df[f'q14l_{e}'] == mode) & (df[f'tripdist_{e}'] <= 1), f'tripdist_{e}'].sum()
print(tripdistance1)

{'Walk': 8875.899999999998, 'Microbus/Matatu': 35.33333333333333, 'Bodaboda (Bicycle taxi)': 6.75, 'Other, specify': 11.5, 'Own bicycle': 18.833333333333336, 'Own vehicle': 0.5, 'Bus regular': 3.6666666666666665, 'Taxi (vehicle)': 0.0, 'Shared taxi': 0.0}

In [52]:
# Repeat for all other trip length buckets
tripdistance2 = {'Walk': 0,
                 'Microbus/Matatu': 0,
                 'Bodaboda (Bicycle taxi)': 0,
                 'Other, specify': 0,
                 'Own bicycle': 0,
                 'Own vehicle': 0,
                 'Bus regular': 0,
                 'Taxi (vehicle)': 0,
                 'Shared taxi': 0}

for mode in tripdistance2:
    for e in range(1, 16):
        tripdistance2[mode] += df.loc[
            (df[f'q14l_{e}'] == mode) & (df[f'tripdist_{e}'] > 1) & (df[f'tripdist_{e}'] <= 2), f'tripdist_{e}'].sum()
print(tripdistance2)

{'Walk': 5389.6, 'Microbus/Matatu': 251.6666666666667, 'Bodaboda (Bicycle taxi)': 140.0, 'Other, specify': 36.0, 'Own bicycle': 112.66666666666669, 'Own vehicle': 3.5, 'Bus regular': 18.333333333333336, 'Taxi (vehicle)': 5.5, 'Shared taxi': 0.0}

In [53]:
tripdistance3 = {'Walk': 0,
                 'Microbus/Matatu': 0,
                 'Bodaboda (Bicycle taxi)': 0,
                 'Other, specify': 0,
                 'Own bicycle': 0,
                 'Own vehicle': 0,
                 'Bus regular': 0,
                 'Taxi (vehicle)': 0,
                 'Shared taxi': 0}

for mode in tripdistance3:
    for e in range(1, 16):
        tripdistance3[mode] += df.loc[
            (df[f'q14l_{e}'] == mode) & (df[f'tripdist_{e}'] > 2) & (df[f'tripdist_{e}'] <= 5), f'tripdist_{e}'].sum()
print(tripdistance3)

{'Walk': 2220.95, 'Microbus/Matatu': 4733.333333333334, 'Bodaboda (Bicycle taxi)': 2846.25, 'Other, specify': 674.75, 'Own bicycle': 968.8333333333334, 'Own vehicle': 512.0, 'Bus regular': 305.0, 'Taxi (vehicle)': 105.0, 'Shared taxi': 0.0}

In [54]:
tripdistance4 = {'Walk': 0,
                 'Microbus/Matatu': 0,
                 'Bodaboda (Bicycle taxi)': 0,
                 'Other, specify': 0,
                 'Own bicycle': 0,
                 'Own vehicle': 0,
                 'Bus regular': 0,
                 'Taxi (vehicle)': 0,
                 'Shared taxi': 0}

for mode in tripdistance4:
    for e in range(1, 16):
        tripdistance4[mode] += df.loc[
            (df[f'q14l_{e}'] == mode) & (df[f'tripdist_{e}'] > 5) & (df[f'tripdist_{e}'] <= 10), f'tripdist_{e}'].sum()

print(tripdistance4)

{'Walk': 296.0, 'Microbus/Matatu': 22227.000000000004, 'Bodaboda (Bicycle taxi)': 1398.0, 'Other, specify': 1185.0, 'Own bicycle': 327.83333333333337, 'Own vehicle': 616.0, 'Bus regular': 470.0, 'Taxi (vehicle)': 124.0, 'Shared taxi': 0.0}

In [55]:
tripdistance5 = {'Walk': 0,
                 'Microbus/Matatu': 0,
                 'Bodaboda (Bicycle taxi)': 0,
                 'Other, specify': 0,
                 'Own bicycle': 0,
                 'Own vehicle': 0,
                 'Bus regular': 0,
                 'Taxi (vehicle)': 0,
                 'Shared taxi': 0}

for mode in tripdistance5:
    for e in range(1, 16):
        tripdistance5[mode] += df.loc[
            (df[f'q14l_{e}'] == mode) & (df[f'tripdist_{e}'] > 10) & (df[f'tripdist_{e}'] <= 25), f'tripdist_{e}'].sum()

print(tripdistance5)

{'Walk': 60.0, 'Microbus/Matatu': 19708.999999999996, 'Bodaboda (Bicycle taxi)': 221.25, 'Other, specify': 1097.5, 'Own bicycle': 30.0, 'Own vehicle': 1883.0, 'Bus regular': 576.6666666666667, 'Taxi (vehicle)': 120.0, 'Shared taxi': 0.0}

In [56]:
tripdistance6 = {'Walk': 0,
                 'Microbus/Matatu': 0,
                 'Bodaboda (Bicycle taxi)': 0,
                 'Other, specify': 0,
                 'Own bicycle': 0,
                 'Own vehicle': 0,
                 'Bus regular': 0,
                 'Taxi (vehicle)': 0,
                 'Shared taxi': 0}

for mode in tripdistance6:
    for e in range(1, 16):
        tripdistance6[mode] += df.loc[
            (df[f'q14l_{e}'] == mode) & (df[f'tripdist_{e}'] > 25) & (df[f'tripdist_{e}'] <= 50), f'tripdist_{e}'].sum()

print(tripdistance6)

{'Walk': 0.0, 'Microbus/Matatu': 10941.666666666668, 'Bodaboda (Bicycle taxi)': 0.0, 'Other, specify': 335.0, 'Own bicycle': 30.0, 'Own vehicle': 630.0, 'Bus regular': 123.33333333333334, 'Taxi (vehicle)': 90.0, 'Shared taxi': 0.0}

In [57]:
tripdistance7 = {'Walk': 0,
                 'Microbus/Matatu': 0,
                 'Bodaboda (Bicycle taxi)': 0,
                 'Other, specify': 0,
                 'Own bicycle': 0,
                 'Own vehicle': 0,
                 'Bus regular': 0,
                 'Taxi (vehicle)': 0,
                 'Shared taxi': 0}

for mode in tripdistance7:
    for e in range(1, 16):
        tripdistance7[mode] += df.loc[(df[f'q14l_{e}'] == mode) & (df[f'tripdist_{e}'] > 50) & (
                    df[f'tripdist_{e}'] <= 100), f'tripdist_{e}'].sum()

print(tripdistance7)

{'Walk': 0.0, 'Microbus/Matatu': 14733.333333333334, 'Bodaboda (Bicycle taxi)': 0.0, 'Other, specify': 400.0, 'Own bicycle': 0.0, 'Own vehicle': 640.0, 'Bus regular': 220.0, 'Taxi (vehicle)': 0.0, 'Shared taxi': 0.0}

In [58]:
tripdistance8 = {'Walk': 0,
                 'Microbus/Matatu': 0,
                 'Bodaboda (Bicycle taxi)': 0,
                 'Other, specify': 0,
                 'Own bicycle': 0,
                 'Own vehicle': 0,
                 'Bus regular': 0,
                 'Taxi (vehicle)': 0,
                 'Shared taxi': 0}

for mode in tripdistance8:
    for e in range(1, 16):
        tripdistance8[mode] += df.loc[(df[f'q14l_{e}'] == mode) & (df[f'tripdist_{e}'] > 100), f'tripdist_{e}'].sum()

print(tripdistance8)

{'Walk': 0.0, 'Microbus/Matatu': 28540.0, 'Bodaboda (Bicycle taxi)': 0.0, 'Other, specify': 2560.0, 'Own bicycle': 0.0, 'Own vehicle': 1360.0, 'Bus regular': 986.6666666666666, 'Taxi (vehicle)': 0.0, 'Shared taxi': 0.0}