this notebook enters data in mode ahrares data (trip length)

In [1]:
import pandas as pd

In [2]:
mode_shares = pd.read_excel(f'./TEAM-Kenya_data_out/Mode_Shares_TripLength.xlsx')
mode_shares

      ScenarioID  CountryID  PolicyID  Year  triplenID  modeID          td
0              1          9         0  2012          1       1   56.221958
1              1          9         0  2012          1       2    1.273087
2              1          9         0  2012          1       3   12.423084
3              1          9         0  2012          1       4    7.458504
4              1          9         0  2012          1       5    0.038439
...          ...        ...       ...   ...        ...     ...         ...
8539           1          9         0  2100          8       8  221.572479
8540           1          9         0  2100          8       9   60.330936
8541           1          9         0  2100          8      10    3.761879
8542           1          9         0  2100          8      11   14.086174
8543           1          9         0  2100          8      12    2.828112

[8544 rows x 7 columns]

In [3]:
# generate scaling dictionary UK --> Kenya
# 1	walk
# 2	bicycle
# 3	car/van driver
# 4	car/van passenger
# 5	motorcycle + e-bike
# 6	local bus
# 7	coach
# 8	rail (surface)
# 9	other private (+car clubs)
# 10	taxi + Uber
# 11	air
# 12	other public + underground

mode_scaling = {1:2.5,
           2:1.2,
           3:0.05,
           4:0.05,
           5:1.5,
           6:2,
           7:0.8,
           8:0.05,
           9:0.1,
           10:0.6,
           11:0.1,
           12:0.05}

In [4]:
for mode in mode_scaling:
    mode_shares.loc[mode_shares[mode_shares.modeID == mode].index.tolist(), 'td'] *= mode_scaling[mode]

mode_shares

      ScenarioID  CountryID  PolicyID  Year  triplenID  modeID          td
0              1          9         0  2012          1       1  140.554895
1              1          9         0  2012          1       2    1.527704
2              1          9         0  2012          1       3    0.621154
3              1          9         0  2012          1       4    0.372925
4              1          9         0  2012          1       5    0.057659
...          ...        ...       ...   ...        ...     ...         ...
8539           1          9         0  2100          8       8   11.078624
8540           1          9         0  2100          8       9    6.033094
8541           1          9         0  2100          8      10    2.257127
8542           1          9         0  2100          8      11    1.408617
8543           1          9         0  2100          8      12    0.141406

[8544 rows x 7 columns]

In [5]:
mode_shares.to_csv(f'./TEAM-Kenya_data_out/mode_shares_triplength_team_kenya.csv', index=False)