This notebook processes the vehicle-kilometre data from aemda output

It also aggregates duplicates across TechID and TechDescription.

In [66]:
import pandas as pd

In [67]:
# read aemda vkm data
vkm = pd.read_csv('./../out_data/vkmData.csv')
vkm

,ScenarioID,CountryID,TechID,JSTypeVSMID,TechDescription,TransTypeID,VehTypeID,MassCatID,VKM
0,1,9,70,1,Road-Small (car)-Conventional (pre-EURO)-Passe...,1,3,1,0.097499
1,1,9,70,2,Road-Small (car)-Conventional (pre-EURO)-Passe...,1,3,1,0.048749
2,1,9,70,3,Road-Small (car)-Conventional (pre-EURO)-Passe...,1,3,1,0.048749
3,1,9,9070,1,Road-Small (car)-Conventional (pre-EURO)-Passe...,1,3,1,0.552493
4,1,9,9070,2,Road-Small (car)-Conventional (pre-EURO)-Passe...,1,3,1,0.276247
...,...,...,...,...,...,...,...,...,...
829,1,9,10,2,Road-Average moto-Euro 4 (2005-09)-Passenger T...,1,2,4,0.006298
830,1,9,10,3,Road-Average moto-Euro 4 (2005-09)-Passenger T...,1,2,4,0.006298
831,1,9,10,1,Road-Average moto-Euro 4 (2005-09)-Passenger T...,1,2,4,0.000000
832,1,9,10,2,Road-Average moto-Euro 4 (2005-09)-Passenger T...,1,2,4,0.000000
833,1,9,10,3,Road-Average moto-Euro 4 (2005-09)-Passenger T...,1,2,4,0.000000

In [68]:
# make corrections
for techid in vkm.TechID.unique().tolist():
    
    # return first tech description
    techdescription = vkm[vkm.TechID == techid]['TechDescription'].tolist()[0]
    
    vkm.loc[vkm[vkm.TechID == techid].index.tolist(), 'TechDescription'] = techdescription

vkm

,ScenarioID,CountryID,TechID,JSTypeVSMID,TechDescription,TransTypeID,VehTypeID,MassCatID,VKM
0,1,9,70,1,Road-Small (car)-Conventional (pre-EURO)-Passe...,1,3,1,0.097499
1,1,9,70,2,Road-Small (car)-Conventional (pre-EURO)-Passe...,1,3,1,0.048749
2,1,9,70,3,Road-Small (car)-Conventional (pre-EURO)-Passe...,1,3,1,0.048749
3,1,9,9070,1,Road-Small (car)-Conventional (pre-EURO)-Passe...,1,3,1,0.552493
4,1,9,9070,2,Road-Small (car)-Conventional (pre-EURO)-Passe...,1,3,1,0.276247
...,...,...,...,...,...,...,...,...,...
829,1,9,10,2,Road-Average moto-Conventional (pre-EURO)-Pass...,1,2,4,0.006298
830,1,9,10,3,Road-Average moto-Conventional (pre-EURO)-Pass...,1,2,4,0.006298
831,1,9,10,1,Road-Average moto-Conventional (pre-EURO)-Pass...,1,2,4,0.000000
832,1,9,10,2,Road-Average moto-Conventional (pre-EURO)-Pass...,1,2,4,0.000000
833,1,9,10,3,Road-Average moto-Conventional (pre-EURO)-Pass...,1,2,4,0.000000

In [69]:
# read uk sample data
vkmuk = pd.read_excel('./../sample_data/VkmTemplateData.xlsx')
vkmuk

,ScenarioID,CountryID,TechID,JSTypeVSMID,TechDescription,TransTypeID,VehTypeID,MassCatID,VKM
0,1,9,140,2,Road - Car - Medium - Gasoline - Euro 5 (2009-...,1,3,2,14.05499
1,1,9,140,1,Road - Car - Medium - Gasoline - Euro 5 (2009-...,1,3,2,13.65464
2,1,9,170,2,Road - Car - Medium - Gasoline - Euro 3 (2001-...,1,3,2,11.61062
3,1,9,181,2,Road - Car - Medium - Gasoline - Euro 4 (2005-...,1,3,2,11.34814
4,1,9,170,1,Road - Car - Medium - Gasoline - Euro 3 (2001-...,1,3,2,11.27990
...,...,...,...,...,...,...,...,...,...
6694,1,9,14892,2,Road - Truck - OtherVan - Gaseous Hydrogen - F...,2,5,28,0.00000
6695,1,9,14892,3,Road - Truck - OtherVan - Gaseous Hydrogen - F...,2,5,28,0.00000
6696,1,9,14893,1,Road - Truck - OtherVan - Gaseous Hydrogen - F...,2,5,28,0.00000
6697,1,9,14893,2,Road - Truck - OtherVan - Gaseous Hydrogen - F...,2,5,28,0.00000
6698,1,9,14893,3,Road - Truck - OtherVan - Gaseous Hydrogen - F...,2,5,28,0.00000

In [70]:
uk_kenya_translation = {6:0.1, 7:0.1, 8:0.1}

In [71]:
for vehtype in uk_kenya_translation:

    vkmuk.loc[vkmuk[vkmuk.VehTypeID == vehtype].index.tolist(), 'VKM'] *= uk_kenya_translation[vehtype]
    
    vkm = vkm.append(vkmuk.loc[vkmuk[vkmuk.VehTypeID == vehtype].index.tolist()])
    
vkm

C:\Users\ekb15182\AppData\Local\Temp\ipykernel_15136\339616296.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vkm = vkm.append(vkmuk.loc[vkmuk[vkmuk.VehTypeID == vehtype].index.tolist()])
C:\Users\ekb15182\AppData\Local\Temp\ipykernel_15136\339616296.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vkm = vkm.append(vkmuk.loc[vkmuk[vkmuk.VehTypeID == vehtype].index.tolist()])
C:\Users\ekb15182\AppData\Local\Temp\ipykernel_15136\339616296.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vkm = vkm.append(vkmuk.loc[vkmuk[vkmuk.VehTypeID == vehtype].index.tolist()])

,ScenarioID,CountryID,TechID,JSTypeVSMID,TechDescription,TransTypeID,VehTypeID,MassCatID,VKM
0,1,9,70,1,Road-Small (car)-Conventional (pre-EURO)-Passe...,1,3,1,0.097499
1,1,9,70,2,Road-Small (car)-Conventional (pre-EURO)-Passe...,1,3,1,0.048749
2,1,9,70,3,Road-Small (car)-Conventional (pre-EURO)-Passe...,1,3,1,0.048749
3,1,9,9070,1,Road-Small (car)-Conventional (pre-EURO)-Passe...,1,3,1,0.552493
4,1,9,9070,2,Road-Small (car)-Conventional (pre-EURO)-Passe...,1,3,1,0.276247
...,...,...,...,...,...,...,...,...,...
2665,1,9,4320,13,Air - Aeroplane - Supersonic - Liquefied Hydro...,1,8,45,0.000000
2666,1,9,4321,9,Air - Aeroplane - Supersonic - Liquefied Hydro...,1,8,45,0.000000
2667,1,9,4321,13,Air - Aeroplane - Supersonic - Liquefied Hydro...,1,8,45,0.000000
2668,1,9,4322,9,Air - Aeroplane - Supersonic - Liquefied Hydro...,1,8,45,0.000000
2669,1,9,4322,13,Air - Aeroplane - Supersonic - Liquefied Hydro...,1,8,45,0.000000

In [72]:
# get rid of duplicates - a bunch of 'extras' were put in at the end by AEMDA as TechID = 10.
vkm = vkm.groupby([c for c in vkm.columns if c != 'VKM'],as_index=False).agg({'VKM': 'sum'})

In [73]:
vkm.to_csv('./../out_data/processed/vkm.csv')

In [74]:
vkm[vkm.duplicated(subset=['TechID', 'JSTypeVSMID'])]

Empty DataFrame
Columns: [ScenarioID, CountryID, TechID, JSTypeVSMID, TechDescription, TransTypeID, VehTypeID, MassCatID, VKM]
Index: []

In [75]:
vkm

,ScenarioID,CountryID,TechID,JSTypeVSMID,TechDescription,TransTypeID,VehTypeID,MassCatID,VKM
0,1,9,10,1,Road-Average moto-Conventional (pre-EURO)-Pass...,1,2,4,5.019335
1,1,9,10,2,Road-Average moto-Conventional (pre-EURO)-Pass...,1,2,4,1.164061
2,1,9,10,3,Road-Average moto-Conventional (pre-EURO)-Pass...,1,2,4,1.592425
3,1,9,20,1,Road-Average moto-Euro 1 (1992-96)-Passenger T...,1,2,4,0.000000
4,1,9,20,2,Road-Average moto-Euro 1 (1992-96)-Passenger T...,1,2,4,0.000000
...,...,...,...,...,...,...,...,...,...
1009,1,9,10682,2,Road-Heavy (truck)-Euro 4 (2005-09)-Freight Tr...,2,5,23,0.000032
1010,1,9,10682,3,Road-Heavy (truck)-Euro 4 (2005-09)-Freight Tr...,2,5,23,0.000258
1011,1,9,10690,1,Road-Heavy (truck)-Euro 6 (2015-19)-Freight Tr...,2,5,23,0.042964
1012,1,9,10690,2,Road-Heavy (truck)-Euro 6 (2015-19)-Freight Tr...,2,5,23,0.042964
1013,1,9,10690,3,Road-Heavy (truck)-Euro 6 (2015-19)-Freight Tr...,2,5,23,0.343710