This notebook processes the vehicle-kilometre data from aemda output

It also aggregates duplicates across TechID and TechDescription.

In [51]:
import pandas as pd

In [52]:
# read aemda vkm data
vkm = pd.read_csv('./../out_data/vkmData.csv')
vkm = vkm.iloc[:,1:]
vkm

,ScenarioID,CountryID,TechID,JSTypeVSMID,TechDescription,TransTypeID,VehTypeID,MassCatID,VKM
0,1,9,70.0,1,Road-Small (car)-Conventional (pre-EURO)-Passe...,1.0,3.0,1.0,0.097499
1,1,9,70.0,2,Road-Small (car)-Conventional (pre-EURO)-Passe...,1.0,3.0,1.0,0.048749
2,1,9,70.0,3,Road-Small (car)-Conventional (pre-EURO)-Passe...,1.0,3.0,1.0,0.048749
3,1,9,9070.0,1,Road-Small (car)-Conventional (pre-EURO)-Passe...,1.0,3.0,1.0,0.552493
4,1,9,9070.0,2,Road-Small (car)-Conventional (pre-EURO)-Passe...,1.0,3.0,1.0,0.276247
...,...,...,...,...,...,...,...,...,...
739,1,9,10.0,2,Road-Average moto-Euro 3 (2001-05)-Passenger T...,1.0,2.0,4.0,0.006046
740,1,9,10.0,3,Road-Average moto-Euro 3 (2001-05)-Passenger T...,1.0,2.0,4.0,0.006046
741,1,9,10.0,1,Road-Average moto-Euro 4 (2005-09)-Passenger T...,1.0,2.0,4.0,0.006046
742,1,9,10.0,2,Road-Average moto-Euro 4 (2005-09)-Passenger T...,1.0,2.0,4.0,0.006046
743,1,9,10.0,3,Road-Average moto-Euro 4 (2005-09)-Passenger T...,1.0,2.0,4.0,0.006046

In [53]:
# make corrections
for techid in vkm.TechID.unique().tolist():
    
    # return first tech description
    techdescription = vkm[vkm.TechID == techid]['TechDescription'].tolist()[0]
    
    vkm.loc[vkm[vkm.TechID == techid].index.tolist(), 'TechDescription'] = techdescription

vkm

,ScenarioID,CountryID,TechID,JSTypeVSMID,TechDescription,TransTypeID,VehTypeID,MassCatID,VKM
0,1,9,70.0,1,Road-Small (car)-Conventional (pre-EURO)-Passe...,1.0,3.0,1.0,0.097499
1,1,9,70.0,2,Road-Small (car)-Conventional (pre-EURO)-Passe...,1.0,3.0,1.0,0.048749
2,1,9,70.0,3,Road-Small (car)-Conventional (pre-EURO)-Passe...,1.0,3.0,1.0,0.048749
3,1,9,9070.0,1,Road-Small (car)-Conventional (pre-EURO)-Passe...,1.0,3.0,1.0,0.552493
4,1,9,9070.0,2,Road-Small (car)-Conventional (pre-EURO)-Passe...,1.0,3.0,1.0,0.276247
...,...,...,...,...,...,...,...,...,...
739,1,9,10.0,2,Road-Average moto-Conventional (pre-EURO)-Pass...,1.0,2.0,4.0,0.006046
740,1,9,10.0,3,Road-Average moto-Conventional (pre-EURO)-Pass...,1.0,2.0,4.0,0.006046
741,1,9,10.0,1,Road-Average moto-Conventional (pre-EURO)-Pass...,1.0,2.0,4.0,0.006046
742,1,9,10.0,2,Road-Average moto-Conventional (pre-EURO)-Pass...,1.0,2.0,4.0,0.006046
743,1,9,10.0,3,Road-Average moto-Conventional (pre-EURO)-Pass...,1.0,2.0,4.0,0.006046

In [54]:
# read uk sample data
vkmuk = pd.read_excel('./../sample_data/VkmTemplateData.xlsx')
vkmuk

,ScenarioID,CountryID,TechID,JSTypeVSMID,TechDescription,TransTypeID,VehTypeID,MassCatID,VKM
0,1,9,140,2,Road - Car - Medium - Gasoline - Euro 5 (2009-...,1,3,2,14.05499
1,1,9,140,1,Road - Car - Medium - Gasoline - Euro 5 (2009-...,1,3,2,13.65464
2,1,9,170,2,Road - Car - Medium - Gasoline - Euro 3 (2001-...,1,3,2,11.61062
3,1,9,181,2,Road - Car - Medium - Gasoline - Euro 4 (2005-...,1,3,2,11.34814
4,1,9,170,1,Road - Car - Medium - Gasoline - Euro 3 (2001-...,1,3,2,11.27990
...,...,...,...,...,...,...,...,...,...
6694,1,9,14892,2,Road - Truck - OtherVan - Gaseous Hydrogen - F...,2,5,28,0.00000
6695,1,9,14892,3,Road - Truck - OtherVan - Gaseous Hydrogen - F...,2,5,28,0.00000
6696,1,9,14893,1,Road - Truck - OtherVan - Gaseous Hydrogen - F...,2,5,28,0.00000
6697,1,9,14893,2,Road - Truck - OtherVan - Gaseous Hydrogen - F...,2,5,28,0.00000
6698,1,9,14893,3,Road - Truck - OtherVan - Gaseous Hydrogen - F...,2,5,28,0.00000

In [55]:
uk_kenya_translation = {6:0.1, 7:0.1, 8:0.1}

In [56]:
for vehtype in uk_kenya_translation:

    vkmuk.loc[vkmuk[vkmuk.VehTypeID == vehtype].index.tolist(), 'VKM'] *= uk_kenya_translation[vehtype]
    
    vkm = vkm.append(vkmuk.loc[vkmuk[vkmuk.VehTypeID == vehtype].index.tolist()])
    
vkm

C:\Users\ekb15182\AppData\Local\Temp\ipykernel_20208\339616296.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vkm = vkm.append(vkmuk.loc[vkmuk[vkmuk.VehTypeID == vehtype].index.tolist()])
C:\Users\ekb15182\AppData\Local\Temp\ipykernel_20208\339616296.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vkm = vkm.append(vkmuk.loc[vkmuk[vkmuk.VehTypeID == vehtype].index.tolist()])
C:\Users\ekb15182\AppData\Local\Temp\ipykernel_20208\339616296.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vkm = vkm.append(vkmuk.loc[vkmuk[vkmuk.VehTypeID == vehtype].index.tolist()])

,ScenarioID,CountryID,TechID,JSTypeVSMID,TechDescription,TransTypeID,VehTypeID,MassCatID,VKM
0,1,9,70.0,1,Road-Small (car)-Conventional (pre-EURO)-Passe...,1.0,3.0,1.0,0.097499
1,1,9,70.0,2,Road-Small (car)-Conventional (pre-EURO)-Passe...,1.0,3.0,1.0,0.048749
2,1,9,70.0,3,Road-Small (car)-Conventional (pre-EURO)-Passe...,1.0,3.0,1.0,0.048749
3,1,9,9070.0,1,Road-Small (car)-Conventional (pre-EURO)-Passe...,1.0,3.0,1.0,0.552493
4,1,9,9070.0,2,Road-Small (car)-Conventional (pre-EURO)-Passe...,1.0,3.0,1.0,0.276247
...,...,...,...,...,...,...,...,...,...
2665,1,9,4320.0,13,Air - Aeroplane - Supersonic - Liquefied Hydro...,1.0,8.0,45.0,0.000000
2666,1,9,4321.0,9,Air - Aeroplane - Supersonic - Liquefied Hydro...,1.0,8.0,45.0,0.000000
2667,1,9,4321.0,13,Air - Aeroplane - Supersonic - Liquefied Hydro...,1.0,8.0,45.0,0.000000
2668,1,9,4322.0,9,Air - Aeroplane - Supersonic - Liquefied Hydro...,1.0,8.0,45.0,0.000000
2669,1,9,4322.0,13,Air - Aeroplane - Supersonic - Liquefied Hydro...,1.0,8.0,45.0,0.000000

In [57]:
# get rid of duplicates

vkm = vkm.groupby(['ScenarioID', 'CountryID', 'TechID', 'JSTypeVSMID', 'TechDescription','TransTypeID','VehTypeID','MassCatID'])['VKM'].agg([('VKM', 'sum')]).reset_index()
# vkm = vkm.groupby([c for c in vkm.columns if c != 'VKM'],as_index=False).agg({'VKM': 'sum'})

In [58]:
vkm

,ScenarioID,CountryID,TechID,JSTypeVSMID,TechDescription,TransTypeID,VehTypeID,MassCatID,VKM
0,1,9,10.0,1,Road-Average moto-Conventional (pre-EURO)-Pass...,1.0,2.0,4.0,5.568075
1,1,9,10.0,2,Road-Average moto-Conventional (pre-EURO)-Pass...,1.0,2.0,4.0,1.162048
2,1,9,10.0,3,Road-Average moto-Conventional (pre-EURO)-Pass...,1.0,2.0,4.0,1.651607
3,1,9,30.0,1,Road-Average moto-Euro 1 (1992-96)-Passenger T...,1.0,2.0,4.0,0.275377
4,1,9,30.0,2,Road-Average moto-Euro 1 (1992-96)-Passenger T...,1.0,2.0,4.0,0.000000
...,...,...,...,...,...,...,...,...,...
910,1,9,10682.0,2,Road-Heavy (truck)-Euro 4 (2005-09)-Freight Tr...,2.0,5.0,23.0,0.000032
911,1,9,10682.0,3,Road-Heavy (truck)-Euro 4 (2005-09)-Freight Tr...,2.0,5.0,23.0,0.000258
912,1,9,10690.0,1,Road-Heavy (truck)-Euro 6 (2015-19)-Freight Tr...,2.0,5.0,23.0,0.042964
913,1,9,10690.0,2,Road-Heavy (truck)-Euro 6 (2015-19)-Freight Tr...,2.0,5.0,23.0,0.042964
914,1,9,10690.0,3,Road-Heavy (truck)-Euro 6 (2015-19)-Freight Tr...,2.0,5.0,23.0,0.343710

In [59]:
vkm.to_csv('./../out_data/processed/vkm.csv', index=False)

In [61]:
vkm[vkm.duplicated(subset=['ScenarioID', 'CountryID', 'TechID', 'JSTypeVSMID', 'TechDescription','TransTypeID','VehTypeID','MassCatID'])]

Empty DataFrame
Columns: [ScenarioID, CountryID, TechID, JSTypeVSMID, TechDescription, TransTypeID, VehTypeID, MassCatID, VKM]
Index: []