This notebook takes the numveh (base year vehicle numveh data) as an input and produces the newveh (base year *new* vehicles) as an output. To do this it uses the GIZ data.

In [23]:
import pandas as pd

In [24]:
# read kenya TED -- new registrations per year
newreg = pd.read_excel(f'./../TED/Kenya_TED.xlsx', sheet_name='New-registrations-by-year')
newreg

           Vehicle type    2015    2016    2017    2018    2019
0           Motorcycles  139420  123539  191601  195253  217425
1                  Cars   68489   58613   66698   74683   82483
2                  LCVs   13878   12722    9866   11220   10189
3                  HGVs   13785    9632    7460    6514    6518
4   Buses and minibuses    4781    4096    3563    5659    5651
5              Trailers    3905    2829    1953    2083    1639
6  Other motor vehicles    2923    2284    1531    1877    3271
7                 Total  247181  213715  282672  297289  327176

In [25]:
# read UK data on new vehicles other types - ships, planes, trains
newvehuk = pd.read_excel('./../sample_data/NewVeh95_UK.xlsx')
newvehuk

    CountryID  TransTypeID  VehTypeID  MassCatID     NumNewVeh
0           9            1          2          4  1.545915e+05
1           9            1          3          1  1.022889e+06
2           9            1          3          2  1.034924e+06
3           9            1          3          3  4.847108e+05
4           9            1          4         11  6.282496e+03
5           9            1          4         12  4.530616e+03
6           9            1          4         13  2.671586e+02
7           9            1          6         31  3.150600e+01
8           9            1          6         32  1.730470e+02
9           9            1          6         33  1.820150e+01
10          9            1          6         34  0.000000e+00
11          9            1          8         41  1.577107e+00
12          9            1          8         42  1.439874e+01
13          9            1          8         43  1.466184e+01
14          9            1          8         44  4.656849e+00
15          9            1          8         45  0.000000e+00
16          9            2          5         21  1.457602e+05
17          9            2          5         22  1.203619e+04
18          9            2          5         23  2.155570e+04
19          9            2          5         24  5.483251e+04
20          9            2          5         25  4.316480e+04
21          9            2          5         26  1.140907e+04
22          9            2          5         27  6.121239e+03
23          9            2          5         28  2.609430e+04
24          9            2          6         31  0.000000e+00
25          9            2          6         32  2.478000e+01
26          9            2          6         33  0.000000e+00
27          9            2          7         51  1.370166e+01
28          9            2          7         52  6.488140e+00
29          9            2          7         53  0.000000e+00
30          9            2          8         42  7.385445e-01
31          9            2          8         43  2.253567e+00
32          9            2          8         44  7.512245e-01

In [26]:
# defined assumed proportion of new kenya fleet/new uk fleet
#train_proportion, ship_proportion, plane_proportion = 0.1, 0.1, 0.1
uk_kenya_translation = {6: 0.1, 7: 0.1, 8: 0.1}

In [27]:
# make a vehtype dictionary
vehtype_dict = {2: ['Motorcycles'], 3: ['Cars'], 4: ['Buses and minibuses'], 
               5: ['LCVs', 'HGVs']}

In [28]:
# read aemda output data - vehicle numveh
numveh = pd.read_csv(f'./../out_data/processed/numveh95.csv')
#numveh = pd.read_csv(f'./out_data/processed/afema_bodge/numveh95_afemabodge.csv')
numveh

,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,9,10.0,0,1.0,2.0,4.0,10.0,1.0,61274.572000
1,9,10.0,1,1.0,2.0,4.0,10.0,1.0,88740.372000
2,9,10.0,2,1.0,2.0,4.0,10.0,1.0,34836.824000
3,9,10.0,3,1.0,2.0,4.0,10.0,1.0,43911.816000
4,9,10.0,4,1.0,2.0,4.0,10.0,1.0,200302.196000
...,...,...,...,...,...,...,...,...,...
4138,9,10690.0,14,2.0,5.0,23.0,15.0,2.0,207.771875
4139,9,10690.0,15,2.0,5.0,23.0,15.0,2.0,69.257292
4140,9,10690.0,16,2.0,5.0,23.0,15.0,2.0,138.514583
4141,9,10690.0,21,2.0,5.0,23.0,15.0,2.0,69.257292
4142,9,10690.0,25,2.0,5.0,23.0,15.0,2.0,69.257292

In [29]:
newveh = pd.DataFrame(columns=['CountryID','TransTypeID', 'VehTypeID', 'MassCatID', 'NumNewVeh'])
newveh

Empty DataFrame
Columns: [CountryID, TransTypeID, VehTypeID, MassCatID, NumNewVeh]
Index: []

In [30]:
base_year = 2015
row_count = 0

for transtype in numveh.TransTypeID.unique():
    
    for vehtype in numveh.VehTypeID.unique():
        
        for masscat in numveh.MassCatID.unique():
            
            if not numveh[(numveh.TransTypeID == transtype) & (numveh.VehTypeID == vehtype) & (numveh.MassCatID == masscat)].empty:
                
                # return total numveh of this config
                total_numveh = numveh[(numveh.TransTypeID == transtype) & (numveh.VehTypeID == vehtype) & (numveh.MassCatID == masscat)].NumVeh.sum()
                                
                # return new registrations of this vehicle type in the base year
                if vehtype in vehtype_dict:  # if it's a road vehicle
                    
                    new_registrations = newreg[(newreg['Vehicle type'].isin(vehtype_dict[vehtype]))][base_year].sum()
                    
                    # return total numveh of this vehicle type
                    total_vehtype = numveh[numveh.VehTypeID == vehtype].NumVeh.sum()
                    
                    # calculate new registrations as a *proportion* of the total of this vehicle type
                    newveh_proportion = new_registrations / total_vehtype
                    
                    numnewveh = newveh_proportion * total_numveh
                    
                else:
                    # in this case we take from the uk data and multiply by a fixed proportion
                    new_registrations = newvehuk[(newvehuk.TransTypeID == transtype) & (newvehuk.VehTypeID == vehtype) & (newvehuk.MassCatID == masscat)].NumNewVeh.sum()
                
                    numnewveh = new_registrations * uk_kenya_translation[vehtype]
                
                newveh.at[row_count, 'CountryID'] = 9
                newveh.at[row_count, 'TransTypeID'] = transtype
                newveh.at[row_count, 'VehTypeID'] = vehtype
                newveh.at[row_count, 'MassCatID'] = masscat
                newveh.at[row_count, 'NumNewVeh'] = numnewveh

                row_count +=1
                
newveh

   CountryID TransTypeID VehTypeID MassCatID     NumNewVeh
0          9         1.0       2.0       4.0      139420.0
1          9         1.0       3.0       1.0  52683.064415
2          9         1.0       3.0       2.0  13777.788693
3          9         1.0       3.0       3.0   2028.146892
4          9         1.0       4.0      11.0   3033.662976
5          9         1.0       4.0      12.0   1455.119855
6          9         1.0       4.0      13.0    292.217169
7          9         1.0       6.0      31.0        3.1506
8          9         1.0       6.0      32.0       17.3047
9          9         1.0       6.0      33.0       1.82015
10         9         1.0       6.0      34.0           0.0
11         9         1.0       8.0      41.0      0.157711
12         9         1.0       8.0      42.0      1.439874
13         9         1.0       8.0      43.0      1.466184
14         9         1.0       8.0      44.0      0.465685
15         9         1.0       8.0      45.0           0.0
16         9         2.0       5.0      21.0   14462.27588
17         9         2.0       5.0      22.0   9624.614333
18         9         2.0       5.0      23.0   3576.109787
19         9         2.0       6.0      32.0         2.478
20         9         2.0       7.0      51.0      1.370166
21         9         2.0       7.0      52.0      0.648814
22         9         2.0       8.0      42.0      0.073854
23         9         2.0       8.0      43.0      0.225357
24         9         2.0       8.0      44.0      0.075122

In [31]:
newveh.to_csv('./../out_data/processed/newveh95.csv', index=False)

In [32]:
newveh[newveh.VehTypeID==6].NumNewVeh.sum()

#VALIDATED IT IS CORRECT ACCORDING TO THE PROPORTION ABOVE

24.75345

In [33]:
newveh[newveh.duplicated()]

Empty DataFrame
Columns: [CountryID, TransTypeID, VehTypeID, MassCatID, NumNewVeh]
Index: []