This notebook takes the numveh (base year vehicle numveh data) as an input and produces the totnumveh95 (base year)

In [7]:
import pandas as pd

In [8]:
# make a df for totnumveh

totnumveh = pd.DataFrame(columns=['CountryID', 'TransTypeID', 'VehTypeID', 'Age', 'TotNumVeh', 'TotNumVeh-1', 'NumVehScrap'])

totnumveh

Empty DataFrame
Columns: [CountryID, TransTypeID, VehTypeID, Age, TotNumVeh, TotNumVeh-1, NumVehScrap]
Index: []

In [9]:
# read aemda output data - vehicle numveh
numveh = pd.read_csv(f'./../out_data/processed/numveh95.csv')
numveh

,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,9,10.0,0,1.0,2.0,4.0,1.0,1.0,12955.166000
1,9,10.0,0,1.0,2.0,4.0,3.0,1.0,6769.358000
2,9,10.0,0,1.0,2.0,4.0,4.0,1.0,7352.908000
3,9,10.0,0,1.0,2.0,4.0,5.0,1.0,7352.908000
4,9,10.0,0,1.0,2.0,4.0,6.0,1.0,13538.716000
...,...,...,...,...,...,...,...,...,...
4478,9,10690.0,14,2.0,5.0,23.0,15.0,2.0,207.771875
4479,9,10690.0,15,2.0,5.0,23.0,15.0,2.0,69.257292
4480,9,10690.0,16,2.0,5.0,23.0,15.0,2.0,138.514583
4481,9,10690.0,21,2.0,5.0,23.0,15.0,2.0,69.257292
4482,9,10690.0,25,2.0,5.0,23.0,15.0,2.0,69.257292

In [10]:
base_year = 2015
row_count = 0

for transtype in numveh.TransTypeID.unique():
    
    for vehtype in numveh.VehTypeID.unique():
            
        if not numveh[(numveh.TransTypeID == transtype) & (numveh.VehTypeID == vehtype)].empty:

            for age in numveh[(numveh.TransTypeID == transtype) & (numveh.VehTypeID == vehtype)].Age.unique():

                # return total numveh of this config + age
                total_numveh = numveh[(numveh.TransTypeID == transtype) & (numveh.VehTypeID == vehtype) & (numveh.Age == age)].NumVeh.sum()

                totnumveh.at[row_count, 'CountryID'] = 9
                totnumveh.at[row_count, 'TransTypeID'] = transtype
                totnumveh.at[row_count, 'VehTypeID'] = vehtype
                totnumveh.at[row_count, 'Age'] = age
                totnumveh.at[row_count, 'TotNumVeh'] = total_numveh

                row_count +=1

# just fill it with zero scrap and -1 = '' for now and see what happens
totnumveh['TotNumVeh-1'] = totnumveh['TotNumVeh']
totnumveh['NumVehScrap'] = 0

totnumveh

    CountryID TransTypeID VehTypeID Age  TotNumVeh TotNumVeh-1  NumVehScrap
0           9         1.0       2.0   0   66526.48    66526.48            0
1           9         1.0       2.0   1   98006.16    98006.16            0
2           9         1.0       2.0   2    38481.2     38481.2            0
3           9         1.0       2.0   3   48621.12    48621.12            0
4           9         1.0       2.0   4  201625.88   201625.88            0
..        ...         ...       ...  ..        ...         ...          ...
313         9         2.0       8.0   1   0.476519    0.476519            0
314         9         2.0       8.0   2   2.059436    2.059436            0
315         9         2.0       8.0   4    0.03156     0.03156            0
316         9         2.0       8.0   5   1.740618    1.740618            0
317         9         2.0       8.0   6   1.578147    1.578147            0

[318 rows x 7 columns]

In [11]:
totnumveh.VehTypeID.max()

8.0

In [12]:
totnumveh.to_csv('./../out_data/processed/totnumveh95.csv', index=False)

In [13]:
totnumveh[totnumveh.duplicated()]

Empty DataFrame
Columns: [CountryID, TransTypeID, VehTypeID, Age, TotNumVeh, TotNumVeh-1, NumVehScrap]
Index: []