This notebook takes the numveh (base year vehicle numveh data) as an input as prepared by AEMDA and outputs to a new file name. 

Some cleaning of the AEMDA data is required:
1. they put in a bunch of TechID==10 motorbikes at the end, so any duplicates are summed (groupby; agg)
2. there are slight variations with what AEMDA have assigned to technologies. For example, some technologies have different EngineID assigned. Who knows what else. So we will just look up those techs from the technology table and assign the correct parameters for each.

In addition, it adds numveh for vehicletypes 6,7,8.

In [65]:
import pandas as pd

In [66]:
# read aemda output data - vehicle numveh
numveh = pd.read_csv(f'./../out_data/VehicleStock.csv')
numveh

,Unnamed: 0,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,5,9,70.0,5,1.0,3.0,1.0,1.0,1.0,84.696857
1,6,9,70.0,6,1.0,3.0,1.0,1.0,1.0,169.393714
2,7,9,70.0,7,1.0,3.0,1.0,1.0,1.0,592.878000
3,8,9,70.0,8,1.0,3.0,1.0,1.0,1.0,677.574857
4,9,9,70.0,9,1.0,3.0,1.0,1.0,1.0,931.665429
...,...,...,...,...,...,...,...,...,...,...
3909,9110,9,10.0,2,1.0,2.0,4.0,6.0,1.0,84.880000
3910,9111,9,10.0,3,1.0,2.0,4.0,6.0,1.0,63.660000
3911,9112,9,10.0,4,1.0,2.0,4.0,6.0,1.0,31.830000
3912,9113,9,10.0,5,1.0,2.0,4.0,6.0,1.0,21.220000
3913,9114,9,10.0,6,1.0,2.0,4.0,6.0,1.0,53.050000

In [67]:
# read technology table for corrections as above
technology = pd.read_csv(f'./../../technology.csv')
technology

,TechID,ModeID,VehTypeID,MassCatID,FuelID,EngineID,TransTypeID,Availability,Final_Year,HybridFlag,spec_energ_consump,spec_energ_electric,noise_class,PurchasePrice,ExpectedLifeFactor,Capacity,AveEconLife,SecondHandImportFlag,note
0,10,1,2,4,1,10,1,1980,2000.0,0,6.57,NaN,0,5000.0,1,2.0,10,0,NaN
1,20,1,2,4,12,10,1,1995,2010.0,0,9.51,NaN,2,7000.0,1,2.0,10,0,NaN
2,25,1,2,4,12,11,1,2010,2020.0,0,8.38,NaN,2,6000.0,1,2.0,10,0,NaN
3,26,1,2,4,12,12,1,2020,NaN,0,7.18,NaN,2,5500.0,1,2.0,10,0,NaN
4,30,1,2,4,1,11,1,2000,2010.0,0,5.65,NaN,0,5000.0,1,2.0,10,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2241,14889,1,5,28,13,13,2,2033,2038.0,0,179.20,1.0,2,14000.0,1,2.5,10,1,NaN
2242,14890,1,5,28,13,13,2,2038,2043.0,0,153.89,1.0,2,12000.0,1,2.5,10,1,NaN
2243,14891,1,5,28,13,13,2,2043,2048.0,0,132.15,1.0,2,12000.0,1,2.5,10,1,NaN
2244,14892,1,5,28,13,13,2,2048,2053.0,0,113.48,1.0,2,12000.0,1,2.5,10,1,NaN
2245,14893,1,5,28,13,13,2,2053,NaN,0,97.45,1.0,2,12000.0,1,2.5,10,1,NaN

In [68]:
# make corrections
for i in list(numveh.index.values):
    techid = numveh.TechID[i]
    transtypeid = technology[technology['TechID'] == techid]['TransTypeID']
    vehtypeid = technology[technology['TechID'] == techid]['VehTypeID']
    masscatid = technology[technology['TechID'] == techid]['MassCatID']
    engineid = technology[technology['TechID'] == techid]['EngineID']
    fuelid = technology[technology['TechID'] == techid]['FuelID']
    
    numveh.at[i, 'TransTypeID'] = transtypeid
    numveh.at[i, 'VehTypeID'] = vehtypeid
    numveh.at[i, 'MassCatID'] = masscatid
    numveh.at[i, 'EngineID'] = engineid
    numveh.at[i, 'FuelID'] = fuelid
    
numveh

,Unnamed: 0,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,5,9,70.0,5,1.0,3.0,1.0,1.0,1.0,84.696857
1,6,9,70.0,6,1.0,3.0,1.0,1.0,1.0,169.393714
2,7,9,70.0,7,1.0,3.0,1.0,1.0,1.0,592.878000
3,8,9,70.0,8,1.0,3.0,1.0,1.0,1.0,677.574857
4,9,9,70.0,9,1.0,3.0,1.0,1.0,1.0,931.665429
...,...,...,...,...,...,...,...,...,...,...
3909,9110,9,10.0,2,1.0,2.0,4.0,10.0,1.0,84.880000
3910,9111,9,10.0,3,1.0,2.0,4.0,10.0,1.0,63.660000
3911,9112,9,10.0,4,1.0,2.0,4.0,10.0,1.0,31.830000
3912,9113,9,10.0,5,1.0,2.0,4.0,10.0,1.0,21.220000
3913,9114,9,10.0,6,1.0,2.0,4.0,10.0,1.0,53.050000

In [69]:
# read original (UK data) to extract data for ships, planes and trains. Use a simple proportion for each type
numvehuk = pd.read_excel('./../sample_data/VehicleStock.xlsx')
numvehuk

,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,9,10,12,1,2,4,10,1,5126.888000
1,9,10,13,1,2,4,10,1,4341.886000
2,9,10,14,1,2,4,10,1,1695.460000
3,9,10,15,1,2,4,10,1,315.866200
4,9,10,16,1,2,4,10,1,93.856110
...,...,...,...,...,...,...,...,...,...
2405,9,5879,7,2,5,28,6,12,0.008200
2406,9,5880,0,2,5,28,14,12,6.176912
2407,9,5880,1,2,5,28,14,12,4.261423
2408,9,5880,2,2,5,28,14,12,0.484696
2409,9,5880,3,2,5,28,14,12,0.360165

In [70]:
#Vehicle Type IDs

# VehTypeID	VehTypeAB	VehTypeNA
# 0	WALK	Walking
# 1	BIKE	Bicycle
# 2	MOTO	Motorcycle
# 3	CAR	Car
# 4	BUS	Bus
# 5	TRUCK	Truck
# 6	TRAIN	Train
# 7	SHIP	Ship
# 8	PLANE	Aeroplane

# proportions UK --> Kenya
train_proportion = 0.1
ship_proportion = 0.1
plane_proportion = 0.1

# # return data for trains ships planes (tsp)
# numvehuk_trains = numvehuk[numvehuk.VehTypeID == 6]
# numvehuk_ships = numvehuk[numvehuk.VehTypeID == 7]
# numvehuk_planes = numvehuk[numvehuk.VehTypeID == 8]

numvehuk.loc[numvehuk[numvehuk.VehTypeID == 6].index.tolist(), 'NumVeh'] *= train_proportion
numvehuk.loc[numvehuk[numvehuk.VehTypeID == 7].index.tolist(), 'NumVeh'] *= ship_proportion
numvehuk.loc[numvehuk[numvehuk.VehTypeID == 8].index.tolist(), 'NumVeh'] *= plane_proportion

In [71]:
numveh = numveh.append(numvehuk[numvehuk.VehTypeID.isin([6,7,8])])
numveh = numveh.reset_index(drop=True)

C:\Users\ekb15182\AppData\Local\Temp\ipykernel_11836\709587314.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  numveh = numveh.append(numvehuk[numvehuk.VehTypeID.isin([6,7,8])])

In [72]:
numveh = numveh[numveh.columns[1:]]
numveh

,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,9,70.0,5,1.0,3.0,1.0,1.0,1.0,8.469686e+01
1,9,70.0,6,1.0,3.0,1.0,1.0,1.0,1.693937e+02
2,9,70.0,7,1.0,3.0,1.0,1.0,1.0,5.928780e+02
3,9,70.0,8,1.0,3.0,1.0,1.0,1.0,6.775749e+02
4,9,70.0,9,1.0,3.0,1.0,1.0,1.0,9.316654e+02
...,...,...,...,...,...,...,...,...,...
4557,9,4275.0,16,1.0,8.0,45.0,7.0,15.0,9.028010e-02
4558,9,4275.0,32,1.0,8.0,45.0,7.0,15.0,3.025660e-12
4559,9,4275.0,33,1.0,8.0,45.0,7.0,15.0,3.782154e-16
4560,9,4275.0,34,1.0,8.0,45.0,7.0,15.0,2.250437e-21
4561,9,4275.0,35,1.0,8.0,45.0,7.0,15.0,5.665234e-28

In [73]:
# get rid of duplicates - a bunch of 'extras' were put in at the end by AEMDA as TechID = 10.
numveh = numveh.groupby([c for c in numveh.columns if c != 'NumVeh'],as_index=False).agg({'NumVeh': 'sum'})

In [74]:
numveh.to_csv('./../out_data/processed/numveh95.csv', index=False)

In [75]:
numveh[numveh.duplicated(subset=[c for c in numveh.columns if c != 'NumVeh'])]

Empty DataFrame
Columns: [CountryID, TechID, Age, TransTypeID, VehTypeID, MassCatID, EngineID, FuelID, NumVeh]
Index: []

In [76]:
numveh[numveh.duplicated(subset=['TechID','Age'])]

Empty DataFrame
Columns: [CountryID, TechID, Age, TransTypeID, VehTypeID, MassCatID, EngineID, FuelID, NumVeh]
Index: []