This notebook takes the established base year (XX95) tables and creates projection tables into the future. the data for years after the base year can be bogus.

In [1]:
import pandas as pd
import numpy as np

<b>FOR NUMVEH</b>

In [2]:
# import numveh95 table (output from AEMDA)
numveh95 = pd.read_csv(f'./../out_data/processed/numveh95.csv')
numveh95

,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,9,10.0,0,1.0,2.0,4.0,10.0,1.0,61274.572000
1,9,10.0,1,1.0,2.0,4.0,10.0,1.0,88740.372000
2,9,10.0,2,1.0,2.0,4.0,10.0,1.0,34836.824000
3,9,10.0,3,1.0,2.0,4.0,10.0,1.0,43911.816000
4,9,10.0,4,1.0,2.0,4.0,10.0,1.0,200302.196000
...,...,...,...,...,...,...,...,...,...
4138,9,10690.0,14,2.0,5.0,23.0,15.0,2.0,207.771875
4139,9,10690.0,15,2.0,5.0,23.0,15.0,2.0,69.257292
4140,9,10690.0,16,2.0,5.0,23.0,15.0,2.0,138.514583
4141,9,10690.0,21,2.0,5.0,23.0,15.0,2.0,69.257292
4142,9,10690.0,25,2.0,5.0,23.0,15.0,2.0,69.257292

In [3]:
# extra columns are YEAR and ScenarioID (1)
years = range(2012,2051)
feature_list = ['ScenarioID', 'CountryID', 'TechID', 'Year', 'Age', 'TransTypeID', 'VehTypeID', 'MassCatID', 'EngineID', 'FuelID', 'NumVeh']

zero_data = np.zeros(shape=(len(years)*len(numveh95),len(feature_list)))

numveh = pd.DataFrame(zero_data, columns=feature_list)
numveh

,ScenarioID,CountryID,TechID,Year,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
161572,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161573,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161574,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161575,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161576,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
for year in years:
    
    if year == 2012:
        numveh.loc[years.index(year)*len(numveh95):(years.index(year)+1)*len(numveh95)-1, numveh95.columns] = numveh95.loc[:, numveh95.columns].values
        numveh.loc[years.index(year)*len(numveh95):(years.index(year)+1)*len(numveh95)-1, 'Year'] = year
    else:
        numveh.loc[years.index(year)*len(numveh95):(years.index(year)+1)*len(numveh95)-1, [c for c in numveh95.columns if c != 'NumVeh']] = numveh95.loc[:, [c for c in numveh95.columns if c != 'NumVeh']].values
        numveh.loc[years.index(year)*len(numveh95):(years.index(year)+1)*len(numveh95)-1, 'Year'] = year

numveh = numveh.reset_index(drop=True)
numveh['ScenarioID'] = 1
numveh[['CountryID', 'TechID', 'Year', 'Age', 'TransTypeID', 'VehTypeID', 'MassCatID', 'EngineID', 'FuelID']] = numveh[['CountryID', 'TechID', 'Year', 'Age', 'TransTypeID', 'VehTypeID', 'MassCatID', 'EngineID', 'FuelID']].astype(int)
numveh

,ScenarioID,CountryID,TechID,Year,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,1,9,10,2012,0,1,2,4,10,1,61274.572
1,1,9,10,2012,1,1,2,4,10,1,88740.372
2,1,9,10,2012,2,1,2,4,10,1,34836.824
3,1,9,10,2012,3,1,2,4,10,1,43911.816
4,1,9,10,2012,4,1,2,4,10,1,200302.196
...,...,...,...,...,...,...,...,...,...,...,...
161572,1,9,10690,2050,14,2,5,23,15,2,0.000
161573,1,9,10690,2050,15,2,5,23,15,2,0.000
161574,1,9,10690,2050,16,2,5,23,15,2,0.000
161575,1,9,10690,2050,21,2,5,23,15,2,0.000
161576,1,9,10690,2050,25,2,5,23,15,2,0.000

In [5]:
numveh.to_csv(f'./../out_data/processed/numveh.csv')

In [6]:
numveh[numveh.duplicated(subset=['TechID','Age','Year'])]

Empty DataFrame
Columns: [ScenarioID, CountryID, TechID, Year, Age, TransTypeID, VehTypeID, MassCatID, EngineID, FuelID, NumVeh]
Index: []

In [7]:
numveh

,ScenarioID,CountryID,TechID,Year,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,1,9,10,2012,0,1,2,4,10,1,61274.572
1,1,9,10,2012,1,1,2,4,10,1,88740.372
2,1,9,10,2012,2,1,2,4,10,1,34836.824
3,1,9,10,2012,3,1,2,4,10,1,43911.816
4,1,9,10,2012,4,1,2,4,10,1,200302.196
...,...,...,...,...,...,...,...,...,...,...,...
161572,1,9,10690,2050,14,2,5,23,15,2,0.000
161573,1,9,10690,2050,15,2,5,23,15,2,0.000
161574,1,9,10690,2050,16,2,5,23,15,2,0.000
161575,1,9,10690,2050,21,2,5,23,15,2,0.000
161576,1,9,10690,2050,25,2,5,23,15,2,0.000

<b>FOR NEWVEH</b>

In [8]:
# import newveh95 table
newveh95 = pd.read_csv(f'./../out_data/processed/newveh95.csv')
newveh95

    CountryID  TransTypeID  VehTypeID  MassCatID      NumNewVeh
0           9          1.0        2.0        4.0  139420.000000
1           9          1.0        3.0        1.0   52683.064415
2           9          1.0        3.0        2.0   13777.788693
3           9          1.0        3.0        3.0    2028.146892
4           9          1.0        4.0       11.0    3033.662976
5           9          1.0        4.0       12.0    1455.119855
6           9          1.0        4.0       13.0     292.217169
7           9          1.0        6.0       31.0       3.150600
8           9          1.0        6.0       32.0      17.304700
9           9          1.0        6.0       33.0       1.820150
10          9          1.0        6.0       34.0       0.000000
11          9          1.0        8.0       41.0       0.157711
12          9          1.0        8.0       42.0       1.439874
13          9          1.0        8.0       43.0       1.466184
14          9          1.0        8.0       44.0       0.465685
15          9          1.0        8.0       45.0       0.000000
16          9          2.0        5.0       21.0   14462.275880
17          9          2.0        5.0       22.0    9624.614333
18          9          2.0        5.0       23.0    3576.109787
19          9          2.0        6.0       32.0       2.478000
20          9          2.0        7.0       51.0       1.370166
21          9          2.0        7.0       52.0       0.648814
22          9          2.0        8.0       42.0       0.073854
23          9          2.0        8.0       43.0       0.225357
24          9          2.0        8.0       44.0       0.075122

In [9]:
# other columns = policyID (all 0), scenarioID (all 1), year
years = range(2012,2051)
feature_list = ['PolicyID', 'ScenarioID', 'CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID', 'NumNewVeh']

zero_data = np.zeros(shape=(len(years)*len(newveh95),len(feature_list)))

newveh = pd.DataFrame(zero_data, columns=feature_list)
newveh

,PolicyID,ScenarioID,CountryID,Year,TransTypeID,VehTypeID,MassCatID,NumNewVeh
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
971,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
972,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
973,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
974,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
for year in years:
    
    if year == 2012:
        newveh.loc[years.index(year)*len(newveh95):(years.index(year)+1)*len(newveh95)-1, newveh95.columns] = newveh95.loc[:, newveh95.columns].values
        newveh.loc[years.index(year)*len(newveh95):(years.index(year)+1)*len(newveh95)-1, 'Year'] = year
    else:
        newveh.loc[years.index(year)*len(newveh95):(years.index(year)+1)*len(newveh95)-1, [c for c in newveh95.columns if c != 'NumNewVeh']] = newveh95.loc[:, [c for c in newveh95.columns if c != 'NumNewVeh']].values
        newveh.loc[years.index(year)*len(newveh95):(years.index(year)+1)*len(newveh95)-1, 'Year'] = year

newveh = newveh.reset_index(drop=True)
newveh['ScenarioID'] = 1
newveh['PolicyID'] = 0
newveh[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID']] = newveh[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID']].astype(int)
newveh

,PolicyID,ScenarioID,CountryID,Year,TransTypeID,VehTypeID,MassCatID,NumNewVeh
0,0,1,9,2012,1,2,4,139420.000000
1,0,1,9,2012,1,3,1,52683.064415
2,0,1,9,2012,1,3,2,13777.788693
3,0,1,9,2012,1,3,3,2028.146892
4,0,1,9,2012,1,4,11,3033.662976
...,...,...,...,...,...,...,...,...
970,0,1,9,2050,2,7,51,0.000000
971,0,1,9,2050,2,7,52,0.000000
972,0,1,9,2050,2,8,42,0.000000
973,0,1,9,2050,2,8,43,0.000000
974,0,1,9,2050,2,8,44,0.000000

In [11]:
newveh.to_csv('./../out_data/processed/newveh.csv', index=False)

In [12]:
newveh[newveh.duplicated(subset=['TransTypeID','VehTypeID','MassCatID','Year'])]

Empty DataFrame
Columns: [PolicyID, ScenarioID, CountryID, Year, TransTypeID, VehTypeID, MassCatID, NumNewVeh]
Index: []

<b>FOR TOTNUMVEH</b>

In [13]:
# import totnumveh95 table
totnumveh95 = pd.read_csv(f'./../out_data/processed/totnumveh95.csv')
totnumveh95

,CountryID,TransTypeID,VehTypeID,Age,TotNumVeh,TotNumVeh-1,NumVehScrap
0,9,1.0,2.0,0,67460.380000,67460.380000,0
1,9,1.0,2.0,1,98362.740000,98362.740000,0
2,9,1.0,2.0,2,38617.040000,38617.040000,0
3,9,1.0,2.0,3,48723.000000,48723.000000,0
4,9,1.0,2.0,4,201676.820000,201676.820000,0
...,...,...,...,...,...,...,...
289,9,2.0,8.0,1,0.476519,0.476519,0
290,9,2.0,8.0,2,2.059436,2.059436,0
291,9,2.0,8.0,4,0.031560,0.031560,0
292,9,2.0,8.0,5,1.740618,1.740618,0
293,9,2.0,8.0,6,1.578147,1.578147,0

In [14]:
# other columns = scenario, policy, year. take AWAY notnumveh-1
years = range(2012,2051)
feature_list = ['ScenarioID', 'CountryID', 'PolicyID', 'Year', 'TransTypeID', 'VehTypeID', 'Age', 'TotNumVeh', 'NumVehScrap']

zero_data = np.zeros(shape=(len(years)*len(totnumveh95),len(feature_list)))

totnumveh = pd.DataFrame(zero_data, columns=feature_list)
totnumveh

,ScenarioID,CountryID,PolicyID,Year,TransTypeID,VehTypeID,Age,TotNumVeh,NumVehScrap
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
11461,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11462,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11463,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11464,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
for year in years:
    
    if year == 2012:
        totnumveh.loc[years.index(year)*len(totnumveh95):(years.index(year)+1)*len(totnumveh95)-1, [c for c in totnumveh95.columns if c not in ['TotNumVeh-1']]] = totnumveh95.loc[:, [c for c in totnumveh95.columns if c not in ['TotNumVeh-1']]].values
        totnumveh.loc[years.index(year)*len(totnumveh95):(years.index(year)+1)*len(totnumveh95)-1, 'Year'] = year
    else:
        totnumveh.loc[years.index(year)*len(totnumveh95):(years.index(year)+1)*len(totnumveh95)-1, [c for c in totnumveh95.columns if c not in ['TotNumVeh', 'TotNumVeh-1', 'NumVehScrap']]] = totnumveh95.loc[:, [c for c in totnumveh95.columns if c not in ['TotNumVeh', 'TotNumVeh-1', 'NumVehScrap']]].values
        totnumveh.loc[years.index(year)*len(totnumveh95):(years.index(year)+1)*len(totnumveh95)-1, 'Year'] = year

totnumveh = totnumveh.reset_index(drop=True)
totnumveh['ScenarioID'] = 1
totnumveh['PolicyID'] = 0
totnumveh[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'Age']] = totnumveh[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'Age']].astype(int)
totnumveh

,ScenarioID,CountryID,PolicyID,Year,TransTypeID,VehTypeID,Age,TotNumVeh,NumVehScrap
0,1,9,0,2012,1,2,0,67460.38,0.0
1,1,9,0,2012,1,2,1,98362.74,0.0
2,1,9,0,2012,1,2,2,38617.04,0.0
3,1,9,0,2012,1,2,3,48723.00,0.0
4,1,9,0,2012,1,2,4,201676.82,0.0
...,...,...,...,...,...,...,...,...,...
11461,1,9,0,2050,2,8,1,0.00,0.0
11462,1,9,0,2050,2,8,2,0.00,0.0
11463,1,9,0,2050,2,8,4,0.00,0.0
11464,1,9,0,2050,2,8,5,0.00,0.0
11465,1,9,0,2050,2,8,6,0.00,0.0

In [16]:
totnumveh.to_csv('./../out_data/processed/totnumveh.csv', index=False)

In [17]:
totnumveh[totnumveh.duplicated(subset=['TransTypeID','VehTypeID','Age','Year'])]

Empty DataFrame
Columns: [ScenarioID, CountryID, PolicyID, Year, TransTypeID, VehTypeID, Age, TotNumVeh, NumVehScrap]
Index: []

<b>FOR TOT</b>

In [18]:
# import tot95 table
tot95 = pd.read_csv(f'./../out_data/processed/tot95.csv')
tot95

    CountryID  TransTypeID  VehTypeID  MassCatID      TOT_Stock
0           9          1.0        2.0        4.0  541467.000000
1           9          1.0        3.0        1.0  409537.000000
2           9          1.0        3.0        2.0  107103.000000
3           9          1.0        3.0        3.0   15766.000000
4           9          1.0        4.0       11.0  104241.000000
5           9          1.0        4.0       12.0   50000.000000
6           9          1.0        4.0       13.0   10041.000000
7           9          1.0        6.0       31.0      89.911524
8           9          1.0        6.0       32.0     493.794594
9           9          1.0        6.0       33.0      51.888989
10          9          1.0        6.0       34.0       0.999946
11          9          1.0        8.0       41.0       4.377163
12          9          1.0        8.0       42.0      38.850395
13          9          1.0        8.0       43.0      40.003573
14          9          1.0        8.0       44.0      12.327675
15          9          1.0        8.0       45.0       0.411580
16          9          2.0        5.0       21.0   63315.000000
17          9          2.0        5.0       22.0   42136.000000
18          9          2.0        5.0       23.0   15656.000000
19          9          2.0        6.0       32.0      70.714777
20          9          2.0        7.0       51.0      34.000629
21          9          2.0        7.0       52.0      16.099372
22          9          2.0        8.0       42.0       3.061072
23          9          2.0        8.0       43.0       8.810444
24          9          2.0        8.0       44.0       2.936947

In [19]:
# other columns = scenario, policy, year. take AWAY notnumveh-1
years = range(2012,2051)
feature_list = ['ScenarioID', 'CountryID', 'PolicyID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID', 'TOT_Stock']

zero_data = np.zeros(shape=(len(years)*len(tot95),len(feature_list)))

tot = pd.DataFrame(zero_data, columns=feature_list)
tot

,ScenarioID,CountryID,PolicyID,Year,TransTypeID,VehTypeID,MassCatID,TOT_Stock
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
971,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
972,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
973,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
974,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
for year in years:
    
    if year == 2012:
        tot.loc[years.index(year)*len(tot95):(years.index(year)+1)*len(tot95)-1, [c for c in tot95.columns]] = tot95.loc[:, [c for c in tot95.columns]].values
        tot.loc[years.index(year)*len(tot95):(years.index(year)+1)*len(tot95)-1, 'Year'] = year
    else:
        tot.loc[years.index(year)*len(tot95):(years.index(year)+1)*len(tot95)-1, [c for c in tot95.columns if c not in ['TOT_Stock']]] = tot95.loc[:, [c for c in tot95.columns if c not in ['TOT_Stock']]].values
        tot.loc[years.index(year)*len(tot95):(years.index(year)+1)*len(tot95)-1, 'Year'] = year

tot = tot.reset_index(drop=True)
tot['ScenarioID'] = 1
tot['PolicyID'] = 0
tot[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID']] = tot[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID']].astype(int)
tot

,ScenarioID,CountryID,PolicyID,Year,TransTypeID,VehTypeID,MassCatID,TOT_Stock
0,1,9,0,2012,1,2,4,541467.0
1,1,9,0,2012,1,3,1,409537.0
2,1,9,0,2012,1,3,2,107103.0
3,1,9,0,2012,1,3,3,15766.0
4,1,9,0,2012,1,4,11,104241.0
...,...,...,...,...,...,...,...,...
970,1,9,0,2050,2,7,51,0.0
971,1,9,0,2050,2,7,52,0.0
972,1,9,0,2050,2,8,42,0.0
973,1,9,0,2050,2,8,43,0.0
974,1,9,0,2050,2,8,44,0.0

In [21]:
tot.to_csv('./../out_data/processed/tot.csv', index=False)

In [22]:
tot[tot.duplicated(subset=['Year','TransTypeID','VehTypeID','MassCatID'])]

Empty DataFrame
Columns: [ScenarioID, CountryID, PolicyID, Year, TransTypeID, VehTypeID, MassCatID, TOT_Stock]
Index: []