The long forgotten TOT one. what is it. who knows. this notebook makes it.

In [7]:
import pandas as pd

In [8]:
# make a df for tot95

tot = pd.DataFrame(columns=['CountryID', 'TransTypeID', 'VehTypeID', 'MassCatID', 'TOT_Stock'])

tot

Empty DataFrame
Columns: [CountryID, TransTypeID, VehTypeID, MassCatID, TOT_Stock]
Index: []

In [9]:
# read numveh data - 95
numveh = pd.read_csv(f'./../out_data/processed/numveh95.csv')
numveh

,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,9,10.0,0,1.0,2.0,4.0,1.0,1.0,12955.166000
1,9,10.0,0,1.0,2.0,4.0,3.0,1.0,6769.358000
2,9,10.0,0,1.0,2.0,4.0,4.0,1.0,7352.908000
3,9,10.0,0,1.0,2.0,4.0,5.0,1.0,7352.908000
4,9,10.0,0,1.0,2.0,4.0,6.0,1.0,13538.716000
...,...,...,...,...,...,...,...,...,...
4478,9,10690.0,14,2.0,5.0,23.0,15.0,2.0,207.771875
4479,9,10690.0,15,2.0,5.0,23.0,15.0,2.0,69.257292
4480,9,10690.0,16,2.0,5.0,23.0,15.0,2.0,138.514583
4481,9,10690.0,21,2.0,5.0,23.0,15.0,2.0,69.257292
4482,9,10690.0,25,2.0,5.0,23.0,15.0,2.0,69.257292

In [10]:
row_count = 0

for transtype in numveh.TransTypeID.unique():
    
    for vehtype in numveh.VehTypeID.unique():
        
        for masscat in numveh.MassCatID.unique():
            
            if not numveh[(numveh.TransTypeID == transtype) & (numveh.VehTypeID == vehtype) & (numveh.MassCatID == masscat)].empty:
                
                # return total numveh of this config
                total_numveh = numveh[(numveh.TransTypeID == transtype) & (numveh.VehTypeID == vehtype) & (numveh.MassCatID == masscat)].NumVeh.sum()
                               
                tot.at[row_count, 'CountryID'] = 9
                tot.at[row_count, 'TransTypeID'] = transtype
                tot.at[row_count, 'VehTypeID'] = vehtype
                tot.at[row_count, 'MassCatID'] = masscat
                tot.at[row_count, 'TOT_Stock'] = total_numveh
                
                row_count +=1
                
tot

   CountryID TransTypeID VehTypeID MassCatID   TOT_Stock
0          9         1.0       2.0       4.0    539769.0
1          9         1.0       3.0       1.0    409537.0
2          9         1.0       3.0       2.0    107103.0
3          9         1.0       3.0       3.0     15766.0
4          9         1.0       4.0      11.0     50000.0
5          9         1.0       4.0      12.0     50000.0
6          9         1.0       4.0      13.0     10041.0
7          9         1.0       6.0      31.0   89.911524
8          9         1.0       6.0      32.0  493.794594
9          9         1.0       6.0      33.0   51.888989
10         9         1.0       6.0      34.0    0.999946
11         9         1.0       8.0      41.0    4.377163
12         9         1.0       8.0      42.0   38.850395
13         9         1.0       8.0      43.0   40.003573
14         9         1.0       8.0      44.0   12.327675
15         9         1.0       8.0      45.0     0.41158
16         9         2.0       3.0      11.0     41734.0
17         9         2.0       3.0      21.0     38301.0
18         9         2.0       5.0      11.0     12507.0
19         9         2.0       5.0      21.0     25014.0
20         9         2.0       5.0      22.0     42136.0
21         9         2.0       5.0      23.0   15655.925
22         9         2.0       6.0      32.0   70.714777
23         9         2.0       7.0      51.0   34.000629
24         9         2.0       7.0      52.0   16.099372
25         9         2.0       8.0      42.0    3.061072
26         9         2.0       8.0      43.0    8.810444
27         9         2.0       8.0      44.0    2.936947

In [11]:
tot.to_csv('./../out_data/processed/tot95.csv', index=False)

In [12]:
tot[tot.VehTypeID == 6].TOT_Stock.sum()

707.309829798858

In [13]:
tot[tot.duplicated()]

Empty DataFrame
Columns: [CountryID, TransTypeID, VehTypeID, MassCatID, TOT_Stock]
Index: []