In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(f'./../data/vehicle-fleet/out_data/processed/numveh.csv')
df

,Unnamed: 0,ScenarioID,CountryID,TechID,Year,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,0,1,9,70,2012,5,1,3,1,1,1,84.696857
1,1,1,9,70,2012,6,1,3,1,1,1,169.393714
2,2,1,9,70,2012,7,1,3,1,1,1,592.878000
3,3,1,9,70,2012,8,1,3,1,1,1,677.574857
4,4,1,9,70,2012,9,1,3,1,1,1,931.665429
...,...,...,...,...,...,...,...,...,...,...,...,...
203185,203185,1,9,4275,2050,16,1,8,45,7,15,0.000000
203186,203186,1,9,4275,2050,32,1,8,45,7,15,0.000000
203187,203187,1,9,4275,2050,33,1,8,45,7,15,0.000000
203188,203188,1,9,4275,2050,34,1,8,45,7,15,0.000000
203189,203189,1,9,4275,2050,35,1,8,45,7,15,0.000000

In [14]:
df[(df.Year==201)].NumVeh.sum()

0.0