TEAM-Kenya is not working and it may be that there are no records of the TechIDs that should be there after the base year. Therefore this notebok takes the established base year (XX95) tables and creates projection tables into the future. the data for years after the base year can be bogus.

In [1]:
import pandas as pd
import numpy as np

<b>FOR NUMVEH</b>

In [2]:
# import numveh95 table (output from AEMDA)
numveh95 = pd.read_csv(f'./out_data/processed/afema_bodge/numveh95_afemabodge.csv')
numveh95

,Unnamed: 0,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,0.0,9,70,5,1,3,1,1,1,8.469686e+01
1,1.0,9,70,6,1,3,1,1,1,1.693937e+02
2,2.0,9,70,7,1,3,1,1,1,5.928780e+02
3,3.0,9,70,8,1,3,1,1,1,6.775749e+02
4,4.0,9,70,9,1,3,1,1,1,9.316654e+02
...,...,...,...,...,...,...,...,...,...,...
6501,NaN,9,4275,16,1,8,45,7,15,9.028010e-02
6502,NaN,9,4275,32,1,8,45,7,15,3.025660e-12
6503,NaN,9,4275,33,1,8,45,7,15,3.782154e-16
6504,NaN,9,4275,34,1,8,45,7,15,2.250437e-21
6505,NaN,9,4275,35,1,8,45,7,15,5.665234e-28

In [3]:
# extra columns are YEAR and ScenarioID (1)
years = range(2012,2051)
feature_list = ['ScenarioID', 'CountryID', 'TechID', 'Year', 'Age', 'TransTypeID', 'VehTypeID', 'MassCatID', 'EngineID', 'FuelID', 'NumVeh']

zero_data = np.zeros(shape=(len(years)*len(numveh95),len(feature_list)))

numveh = pd.DataFrame(zero_data, columns=feature_list)
numveh

,ScenarioID,CountryID,TechID,Year,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
253729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
253730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
253731,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
253732,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
253733,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
for year in years:
    
    if year == 2012:
        numveh.loc[years.index(year)*len(numveh95):(years.index(year)+1)*len(numveh95)-1, numveh95.columns] = numveh95.loc[:, numveh95.columns].values
        numveh.loc[years.index(year)*len(numveh95):(years.index(year)+1)*len(numveh95)-1, 'Year'] = year
    else:
        numveh.loc[years.index(year)*len(numveh95):(years.index(year)+1)*len(numveh95)-1, [c for c in numveh95.columns if c != 'NumVeh']] = numveh95.loc[:, [c for c in numveh95.columns if c != 'NumVeh']].values
        numveh.loc[years.index(year)*len(numveh95):(years.index(year)+1)*len(numveh95)-1, 'Year'] = year

numveh = numveh.reset_index(drop=True)
numveh['ScenarioID'] = 1
numveh[['CountryID', 'TechID', 'Year', 'Age', 'TransTypeID', 'VehTypeID', 'MassCatID', 'EngineID', 'FuelID']] = numveh[['CountryID', 'TechID', 'Year', 'Age', 'TransTypeID', 'VehTypeID', 'MassCatID', 'EngineID', 'FuelID']].astype(int)
numveh

,ScenarioID,CountryID,TechID,Year,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh,Unnamed: 0
0,1,9,70,2012,5,1,3,1,1,1,84.696857,0.0
1,1,9,70,2012,6,1,3,1,1,1,169.393714,1.0
2,1,9,70,2012,7,1,3,1,1,1,592.878000,2.0
3,1,9,70,2012,8,1,3,1,1,1,677.574857,3.0
4,1,9,70,2012,9,1,3,1,1,1,931.665429,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...
253729,1,9,4275,2050,16,1,8,45,7,15,0.000000,NaN
253730,1,9,4275,2050,32,1,8,45,7,15,0.000000,NaN
253731,1,9,4275,2050,33,1,8,45,7,15,0.000000,NaN
253732,1,9,4275,2050,34,1,8,45,7,15,0.000000,NaN
253733,1,9,4275,2050,35,1,8,45,7,15,0.000000,NaN

In [5]:
numveh.to_csv(f'./out_data/processed/afema_bodge/numveh_afemabodge.csv')

<b>FOR NEWVEH</b>

In [6]:
# import newveh95 table
newveh95 = pd.read_csv(f'./out_data/processed/afema_bodge/newveh95_afemabodge.csv')
newveh95

    Unnamed: 0  CountryID  TransTypeID  VehTypeID  MassCatID      NumNewVeh
0            0          9            1          3          1   45798.337461
1            1          9            1          3          2   11977.280044
2            2          9            1          3          3    1763.104648
3            3          9            1          4         11    2172.372116
4            4          9            1          4         13     436.255768
5            5          9            1          4         12    2172.372116
6            6          9            1          2          4  139420.000000
7            7          9            1          6         31       3.150600
8            8          9            1          6         32      17.304700
9            9          9            1          6         33       1.820150
10          10          9            1          6         34       0.000000
11          11          9            1          8         41       0.157711
12          12          9            1          8         42       1.439874
13          13          9            1          8         43       1.466184
14          14          9            1          8         44       0.465685
15          15          9            1          8         45       0.000000
16          16          9            2          3         11    4667.094342
17          17          9            2          3         21    4283.183505
18          18          9            2          5         11    3629.949883
19          19          9            2          5         21    7259.899767
20          20          9            2          5         22   12229.277068
21          21          9            2          5         23    4543.873281
22          22          9            2          6         32       2.478000
23          23          9            2          7         51       1.370166
24          24          9            2          7         52       0.648814
25          25          9            2          8         42       0.073854
26          26          9            2          8         43       0.225357
27          27          9            2          8         44       0.075122

In [7]:
# other columns = policyID (all 0), scenarioID (all 1), year
years = range(2012,2051)
feature_list = ['PolicyID', 'ScenarioID', 'CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID', 'NumNewVeh']

zero_data = np.zeros(shape=(len(years)*len(newveh95),len(feature_list)))

newveh = pd.DataFrame(zero_data, columns=feature_list)
newveh

,PolicyID,ScenarioID,CountryID,Year,TransTypeID,VehTypeID,MassCatID,NumNewVeh
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
1087,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1088,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1089,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1090,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1091,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
for year in years:
    
    if year == 2012:
        newveh.loc[years.index(year)*len(newveh95):(years.index(year)+1)*len(newveh95)-1, newveh95.columns] = newveh95.loc[:, newveh95.columns].values
        newveh.loc[years.index(year)*len(newveh95):(years.index(year)+1)*len(newveh95)-1, 'Year'] = year
    else:
        newveh.loc[years.index(year)*len(newveh95):(years.index(year)+1)*len(newveh95)-1, [c for c in newveh95.columns if c != 'NumNewVeh']] = newveh95.loc[:, [c for c in newveh95.columns if c != 'NumNewVeh']].values
        newveh.loc[years.index(year)*len(newveh95):(years.index(year)+1)*len(newveh95)-1, 'Year'] = year

newveh = newveh.reset_index(drop=True)
newveh['ScenarioID'] = 1
newveh['PolicyID'] = 0
newveh[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID']] = newveh[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID']].astype(int)
newveh

,PolicyID,ScenarioID,CountryID,Year,TransTypeID,VehTypeID,MassCatID,NumNewVeh,Unnamed: 0
0,0,1,9,2012,1,3,1,45798.337461,0.0
1,0,1,9,2012,1,3,2,11977.280044,1.0
2,0,1,9,2012,1,3,3,1763.104648,2.0
3,0,1,9,2012,1,4,11,2172.372116,3.0
4,0,1,9,2012,1,4,13,436.255768,4.0
...,...,...,...,...,...,...,...,...,...
1087,0,1,9,2050,2,7,51,0.000000,23.0
1088,0,1,9,2050,2,7,52,0.000000,24.0
1089,0,1,9,2050,2,8,42,0.000000,25.0
1090,0,1,9,2050,2,8,43,0.000000,26.0
1091,0,1,9,2050,2,8,44,0.000000,27.0

In [9]:
newveh.to_csv('./out_data/processed/afema_bodge/newveh_afemabodge.csv', index=False)

<b>FOR TOTNUMVEH</b>

In [10]:
# import totnumveh95 table
totnumveh95 = pd.read_csv(f'./out_data/processed/afema_bodge/totnumveh95_afemabodge.csv')
totnumveh95

,CountryID,TransTypeID,VehTypeID,Age,TotNumVeh,TotNumVeh-1,NumVehScrap
0,9,1,3,5,5264.280335,5264.280335,0
1,9,1,3,6,9935.121006,9935.121006,0
2,9,1,3,7,38755.772368,38755.772368,0
3,9,1,3,8,44997.788836,44997.788836,0
4,9,1,3,9,61073.069951,61073.069951,0
...,...,...,...,...,...,...,...
313,9,2,8,1,1.906076,1.906076,0
314,9,2,8,2,8.237745,8.237745,0
315,9,2,8,4,0.126239,0.126239,0
316,9,2,8,5,6.962473,6.962473,0
317,9,2,8,6,6.312588,6.312588,0

In [11]:
# other columns = scenario, policy, year. take AWAY notnumveh-1
years = range(2012,2051)
feature_list = ['ScenarioID', 'CountryID', 'PolicyID', 'Year', 'TransTypeID', 'VehTypeID', 'Age', 'TotNumVeh', 'NumVehScrap']

zero_data = np.zeros(shape=(len(years)*len(totnumveh95),len(feature_list)))

totnumveh = pd.DataFrame(zero_data, columns=feature_list)
totnumveh

,ScenarioID,CountryID,PolicyID,Year,TransTypeID,VehTypeID,Age,TotNumVeh,NumVehScrap
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
12397,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12399,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12401,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
for year in years:
    
    if year == 2012:
        totnumveh.loc[years.index(year)*len(totnumveh95):(years.index(year)+1)*len(totnumveh95)-1, [c for c in totnumveh95.columns if c not in ['TotNumVeh-1']]] = totnumveh95.loc[:, [c for c in totnumveh95.columns if c not in ['TotNumVeh-1']]].values
        totnumveh.loc[years.index(year)*len(totnumveh95):(years.index(year)+1)*len(totnumveh95)-1, 'Year'] = year
    else:
        totnumveh.loc[years.index(year)*len(totnumveh95):(years.index(year)+1)*len(totnumveh95)-1, [c for c in totnumveh95.columns if c not in ['TotNumVeh', 'TotNumVeh-1', 'NumVehScrap']]] = totnumveh95.loc[:, [c for c in totnumveh95.columns if c not in ['TotNumVeh', 'TotNumVeh-1', 'NumVehScrap']]].values
        totnumveh.loc[years.index(year)*len(totnumveh95):(years.index(year)+1)*len(totnumveh95)-1, 'Year'] = year

totnumveh = totnumveh.reset_index(drop=True)
totnumveh['ScenarioID'] = 1
totnumveh['PolicyID'] = 0
totnumveh[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'Age']] = totnumveh[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'Age']].astype(int)
totnumveh

,ScenarioID,CountryID,PolicyID,Year,TransTypeID,VehTypeID,Age,TotNumVeh,NumVehScrap
0,1,9,0,2012,1,3,5,5264.280335,0.0
1,1,9,0,2012,1,3,6,9935.121006,0.0
2,1,9,0,2012,1,3,7,38755.772368,0.0
3,1,9,0,2012,1,3,8,44997.788836,0.0
4,1,9,0,2012,1,3,9,61073.069951,0.0
...,...,...,...,...,...,...,...,...,...
12397,1,9,0,2050,2,8,1,0.000000,0.0
12398,1,9,0,2050,2,8,2,0.000000,0.0
12399,1,9,0,2050,2,8,4,0.000000,0.0
12400,1,9,0,2050,2,8,5,0.000000,0.0
12401,1,9,0,2050,2,8,6,0.000000,0.0

In [13]:
totnumveh.to_csv('./out_data/processed/afema_bodge/totnumveh_afemabodge.csv', index=False)

<b>FOR TOT</b>

In [14]:
# import tot95 table
tot95 = pd.read_csv(f'./out_data/processed/afema_bodge/tot95_afemabodge.csv')
tot95

    CountryID  TransTypeID  VehTypeID  MassCatID      TOT_Stock
0           9            1          3          1  409536.999994
1           9            1          3          2  107103.000002
2           9            1          3          3   15766.000000
3           9            1          4         11   49999.999998
4           9            1          4         13   10041.000000
5           9            1          4         12   49999.999997
6           9            1          2          4  539769.000000
7           9            1          6         31     359.646096
8           9            1          6         32    1975.178376
9           9            1          6         33     207.555955
10          9            1          6         34       3.999784
11          9            1          8         41      17.508654
12          9            1          8         42     155.401581
13          9            1          8         43     160.014291
14          9            1          8         44      49.310698
15          9            1          8         45       1.646320
16          9            2          3         11   41733.999999
17          9            2          3         21   38301.000000
18          9            2          5         11   12506.999999
19          9            2          5         21   25014.000002
20          9            2          5         22   42136.000000
21          9            2          5         23   15655.925000
22          9            2          6         32     282.859107
23          9            2          7         51     136.002517
24          9            2          7         52      64.397489
25          9            2          8         42      12.244288
26          9            2          8         43      35.241775
27          9            2          8         44      11.747786

In [15]:
# other columns = scenario, policy, year. take AWAY notnumveh-1
years = range(2012,2051)
feature_list = ['ScenarioID', 'CountryID', 'PolicyID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID', 'TOT_Stock']

zero_data = np.zeros(shape=(len(years)*len(tot95),len(feature_list)))

tot = pd.DataFrame(zero_data, columns=feature_list)
tot

,ScenarioID,CountryID,PolicyID,Year,TransTypeID,VehTypeID,MassCatID,TOT_Stock
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
1087,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1088,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1089,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1090,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1091,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
for year in years:
    
    if year == 2012:
        tot.loc[years.index(year)*len(tot95):(years.index(year)+1)*len(tot95)-1, [c for c in tot95.columns]] = tot95.loc[:, [c for c in tot95.columns]].values
        tot.loc[years.index(year)*len(tot95):(years.index(year)+1)*len(tot95)-1, 'Year'] = year
    else:
        tot.loc[years.index(year)*len(tot95):(years.index(year)+1)*len(tot95)-1, [c for c in tot95.columns if c not in ['TOT_Stock']]] = tot95.loc[:, [c for c in tot95.columns if c not in ['TOT_Stock']]].values
        tot.loc[years.index(year)*len(tot95):(years.index(year)+1)*len(tot95)-1, 'Year'] = year

tot = tot.reset_index(drop=True)
tot['ScenarioID'] = 1
tot['PolicyID'] = 0
tot[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID']] = tot[['CountryID', 'Year', 'TransTypeID', 'VehTypeID', 'MassCatID']].astype(int)
tot

,ScenarioID,CountryID,PolicyID,Year,TransTypeID,VehTypeID,MassCatID,TOT_Stock
0,1,9,0,2012,1,3,1,409536.999994
1,1,9,0,2012,1,3,2,107103.000002
2,1,9,0,2012,1,3,3,15766.000000
3,1,9,0,2012,1,4,11,49999.999998
4,1,9,0,2012,1,4,13,10041.000000
...,...,...,...,...,...,...,...,...
1087,1,9,0,2050,2,7,51,0.000000
1088,1,9,0,2050,2,7,52,0.000000
1089,1,9,0,2050,2,8,42,0.000000
1090,1,9,0,2050,2,8,43,0.000000
1091,1,9,0,2050,2,8,44,0.000000

In [17]:
tot.to_csv('./out_data/processed/afema_bodge/tot_afemabodge.csv', index=False)